In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_poll_to_2023 = pd.read_csv('../datasets/pollution_2000_2023.csv')
df_energy = pd.read_csv("../datasets/global_data_sustainable_energy.csv")

In [3]:
df_USA = df_energy[df_energy['Entity'] == 'United States']
df_USA.columns

Index(['Entity', 'Year', 'Access to electricity (% of population)',
       'Access to clean fuels for cooking',
       'Renewable-electricity-generating-capacity-per-capita',
       'Financial flows to developing countries (US $)',
       'Renewable energy share in the total final energy consumption (%)',
       'Electricity from fossil fuels (TWh)', 'Electricity from nuclear (TWh)',
       'Electricity from renewables (TWh)',
       'Low-carbon electricity (% electricity)',
       'Primary energy consumption per capita (kWh/person)',
       'Energy intensity level of primary energy (MJ/$2017 PPP GDP)',
       'Value_co2_emissions_kt_by_country',
       'Renewables (% equivalent primary energy)', 'gdp_growth',
       'gdp_per_capita', 'Density\n(P/Km2)', 'Land Area(Km2)', 'Latitude',
       'Longitude'],
      dtype='object')

In [4]:
df_USA.set_index(df_USA['Year'], inplace=True)
df_USA

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
Year,,,,,,,,,,,,,,,,,,,,,
2000,United States,2000,100.0,100.0,NaN,NaN,5.43,2697.28,753.89,350.93,...,93999.860,6.73,5775810.000,4.027357,4.127484,36334.90878,36,9833517.0,37.09024,-95.712891
2001,United States,2001,100.0,100.0,NaN,NaN,4.68,2678.68,768.83,280.06,...,90772.180,6.54,5748260.000,3.421371,0.998341,37133.24281,36,9833517.0,37.09024,-95.712891
2002,United States,2002,100.0,100.0,NaN,NaN,4.84,2727.83,780.06,336.34,...,91201.060,6.50,5593029.785,4.015507,1.741695,38023.16111,36,9833517.0,37.09024,-95.712891
2003,United States,2003,100.0,100.0,NaN,NaN,5.33,2756.03,763.73,349.18,...,90619.110,6.33,5658990.234,4.180040,2.861211,39496.48588,36,9833517.0,37.09024,-95.712891
2004,United States,2004,100.0,100.0,NaN,NaN,5.48,2818.28,788.53,345.14,...,91504.484,6.22,5738290.039,4.101511,3.798891,41712.80107,36,9833517.0,37.09024,-95.712891
2005,United States,2005,100.0,100.0,NaN,NaN,5.84,2899.96,781.99,353.04,...,90654.530,6.04,5753490.234,4.219231,3.513214,44114.74778,36,9833517.0,37.09024,-95.712891
2006,United States,2006,100.0,100.0,NaN,NaN,6.40,2878.56,787.22,381.16,...,89067.040,5.82,5653080.078,4.678861,2.854972,46298.73144,36,9833517.0,37.09024,-95.712891
2007,United States,2007,100.0,100.0,NaN,NaN,6.30,2988.24,806.42,347.91,...,89395.140,5.81,5736319.824,4.373009,1.876171,47975.96770,36,9833517.0,37.09024,-95.712891
2008,United States,2008,100.0,100.0,NaN,NaN,6.85,2924.21,806.21,377.11,...,86378.650,5.67,5558379.883,5.004550,-0.136580,48382.55845,36,9833517.0,37.09024,-95.712891
2009,United States,2009,100.0,100.0,NaN,NaN,7.35,2725.41,798.85,415.56,...,81376.180,5.53,5156430.176,5.800006,-2.536757,47099.98047,36,9833517.0,37.09024,-95.712891
2010,United States,2010,100.0,100.0,NaN,NaN,7.44,2882.49,806.97,424.48,...,83397.480,5.52,5392109.863,5.840555,2.563767,48466.65760,36,9833517.0,37.09024,-95.712891
2011,United States,2011,100.0,100.0,NaN,NaN,8.36,2788.93,790.20,509.74,...,81962.360,5.36,5173600.098,6.897319,1.550836,49882.55813,36,9833517.0,37.09024,-95.712891
2012,United States,2012,100.0,100.0,NaN,NaN,8.73,2779.02,769.33,492.32,...,79102.340,5.15,4956060.059,6.886334,2.249546,51602.93105,36,9833517.0,37.09024,-95.712891
2013,United States,2013,100.0,100.0,NaN,NaN,9.08,2746.21,789.02,520.38,...,80556.516,5.15,5092100.098,7.134616,1.842081,53106.53677,36,9833517.0,37.09024,-95.712891
2014,United States,2014,100.0,100.0,NaN,NaN,9.22,2752.01,797.17,546.83,...,80725.086,5.08,5107209.961,7.262891,2.525973,55049.98833,36,9833517.0,37.09024,-95.712891
2015,United States,2015,100.0,100.0,NaN,NaN,9.03,2730.32,797.18,556.49,...,79317.370,4.88,4990709.961,7.468743,3.075515,56863.37150,36,9833517.0,37.09024,-95.712891
2016,United States,2016,100.0,100.0,NaN,NaN,9.46,2656.96,805.69,624.91,...,78613.540,4.74,4894500.000,8.285086,1.711427,58021.40050,36,9833517.0,37.09024,-95.712891
2017,United States,2017,100.0,100.0,NaN,NaN,9.92,2540.17,804.95,707.19,...,78289.010,4.62,4819370.117,9.082049,2.332679,60109.65573,36,9833517.0,37.09024,-95.712891
2018,United States,2018,100.0,100.0,NaN,NaN,10.12,2661.30,807.08,733.17,...,80583.340,4.61,4975310.059,8.964939,2.996464,63064.41841,36,9833517.0,37.09024,-95.712891
2019,United States,2019,100.0,100.0,NaN,NaN,10.42,2588.21,809.41,760.76,...,79489.016,4.51,4817720.215,9.315263,2.161177,65279.52903,36,9833517.0,37.09024,-95.712891
2020,United States,2020,100.0,100.0,NaN,NaN,NaN,2431.90,789.88,821.40,...,73236.140,NaN,NaN,10.532232,-3.404592,63593.44362,36,9833517.0,37.09024,-95.712891

In [5]:
cols_to_drop = ['Entity', 'Year', 'Access to electricity (% of population)',
                'Access to clean fuels for cooking',
                'Renewable-electricity-generating-capacity-per-capita',
                'Financial flows to developing countries (US $)', 
                'Land Area(Km2)', 'Latitude', 'Longitude']

# Drop the specified columns in-place
df_USA_cleaned = df_USA.drop(columns=cols_to_drop)
df_USA_cleaned

,Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2)
Year,,,,,,,,,,,,
2000,5.43,2697.28,753.89,350.93,29.058150,93999.860,6.73,5775810.000,4.027357,4.127484,36334.90878,36
2001,4.68,2678.68,768.83,280.06,28.138706,90772.180,6.54,5748260.000,3.421371,0.998341,37133.24281,36
2002,4.84,2727.83,780.06,336.34,29.040926,91201.060,6.50,5593029.785,4.015507,1.741695,38023.16111,36
2003,5.33,2756.03,763.73,349.18,28.765244,90619.110,6.33,5658990.234,4.180040,2.861211,39496.48588,36
2004,5.48,2818.28,788.53,345.14,28.686348,91504.484,6.22,5738290.039,4.101511,3.798891,41712.80107,36
2005,5.84,2899.96,781.99,353.04,28.129686,90654.530,6.04,5753490.234,4.219231,3.513214,44114.74778,36
2006,6.40,2878.56,787.22,381.16,28.870703,89067.040,5.82,5653080.078,4.678861,2.854972,46298.73144,36
2007,6.30,2988.24,806.42,347.91,27.865068,89395.140,5.81,5736319.824,4.373009,1.876171,47975.96770,36
2008,6.85,2924.21,806.21,377.11,28.808554,86378.650,5.67,5558379.883,5.004550,-0.136580,48382.55845,36
2009,7.35,2725.41,798.85,415.56,30.823996,81376.180,5.53,5156430.176,5.800006,-2.536757,47099.98047,36
2010,7.44,2882.49,806.97,424.48,29.933590,83397.480,5.52,5392109.863,5.840555,2.563767,48466.65760,36
2011,8.36,2788.93,790.20,509.74,31.792154,81962.360,5.36,5173600.098,6.897319,1.550836,49882.55813,36
2012,8.73,2779.02,769.33,492.32,31.223783,79102.340,5.15,4956060.059,6.886334,2.249546,51602.93105,36
2013,9.08,2746.21,789.02,520.38,32.286140,80556.516,5.15,5092100.098,7.134616,1.842081,53106.53677,36
2014,9.22,2752.01,797.17,546.83,32.812420,80725.086,5.08,5107209.961,7.262891,2.525973,55049.98833,36
2015,9.03,2730.32,797.18,556.49,33.145770,79317.370,4.88,4990709.961,7.468743,3.075515,56863.37150,36
2016,9.46,2656.96,805.69,624.91,34.998875,78613.540,4.74,4894500.000,8.285086,1.711427,58021.40050,36
2017,9.92,2540.17,804.95,707.19,37.315506,78289.010,4.62,4819370.117,9.082049,2.332679,60109.65573,36
2018,10.12,2661.30,807.08,733.17,36.659092,80583.340,4.61,4975310.059,8.964939,2.996464,63064.41841,36
2019,10.42,2588.21,809.41,760.76,37.759180,79489.016,4.51,4817720.215,9.315263,2.161177,65279.52903,36
2020,NaN,2431.90,789.88,821.40,39.851800,73236.140,NaN,NaN,10.532232,-3.404592,63593.44362,36

In [6]:
print(df_poll_to_2023.columns)

Index(['Unnamed: 0', 'Date', 'Address', 'State', 'County', 'City', 'O3 Mean',
       'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'CO Mean',
       'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI', 'SO2 Mean',
       'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI'],
      dtype='object')

In [7]:
df_poll_to_2023.drop(columns=["Unnamed: 0","Address","County", "City"], inplace=True)
df_poll_to_2023.head()

,Date,State,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
0,2000-01-01,Arizona,0.019765,0.040,10,37,0.878947,2.2,23,25.0,3.000000,9.0,21,13.0,19.041667,49.0,19,46
1,2000-01-02,Arizona,0.015882,0.032,10,30,1.066667,2.3,0,26.0,1.958333,3.0,22,4.0,22.958333,36.0,19,34
2,2000-01-03,Arizona,0.009353,0.016,9,15,1.762500,2.5,8,28.0,5.250000,11.0,19,16.0,38.125000,51.0,8,48
3,2000-01-04,Arizona,0.015882,0.033,9,31,1.829167,3.0,23,34.0,7.083333,16.0,8,23.0,40.260870,74.0,8,72
4,2000-01-05,Arizona,0.007353,0.012,9,11,2.700000,3.7,2,42.0,8.708333,15.0,7,21.0,48.450000,61.0,22,58

In [8]:
df_poll_to_2023.shape

(665414, 18)

In [9]:
df_poll_to_2023[["Date"]]

              Date
0       2000-01-01
1       2000-01-02
2       2000-01-03
3       2000-01-04
4       2000-01-05
...            ...
665409  2023-06-26
665410  2023-06-27
665411  2023-06-28
665412  2023-06-29
665413  2023-06-30

[665414 rows x 1 columns]

In [10]:
df_poll_to_2023["Date"].value_counts()

Date
2019-12-04    104
2019-12-11    104
2019-12-06    103
2019-12-05    103
2019-12-08    103
             ...
2023-09-13      8
2023-09-17      8
2023-09-16      8
2023-09-06      8
2023-09-07      7
Name: count, Length: 8674, dtype: int64

In [11]:
df_poll_to_2023.groupby("Date")["State"].value_counts()

Date        State
2000-01-01  California        21
            Arizona            3
            Virginia           3
            Kansas             2
            New York           2
                              ..
2023-09-30  Arizona            1
            Illinois           1
            Louisiana          1
            Maryland           1
            North Carolina     1
Name: count, Length: 252006, dtype: int64

In [12]:
df_poll_to_2023["State"].value_counts(normalize=True)

State
California              0.302434
Pennsylvania            0.081366
Texas                   0.058580
Arizona                 0.037748
New York                0.034092
Virginia                0.030915
Colorado                0.024343
North Carolina          0.021714
Illinois                0.020743
Ohio                    0.020102
Maryland                0.019666
Hawaii                  0.019392
Utah                    0.018190
Oklahoma                0.017912
New Jersey              0.017676
Arkansas                0.016947
District Of Columbia    0.015805
Connecticut             0.015411
Iowa                    0.015123
Kansas                  0.014556
Missouri                0.014507
Maine                   0.014093
Florida                 0.013132
Louisiana               0.012609
Massachusetts           0.011393
Nevada                  0.010684
Kentucky                0.009336
Indiana                 0.008799
Wyoming                 0.008377
Oregon                  0.007965
Rhode Island            0.007806
North Dakota            0.007806
New Mexico              0.006621
Georgia                 0.006617
New Hampshire           0.006539
South Dakota            0.006527
Tennessee               0.006217
Washington              0.004920
Minnesota               0.004907
Michigan                0.004349
Delaware                0.004068
Alabama                 0.004050
Vermont                 0.003885
Idaho                   0.002938
South Carolina          0.002523
Alaska                  0.002278
Mississippi             0.002214
Wisconsin               0.002125
Name: proportion, dtype: float64

In [13]:
df_poll_to_2023['Date'] = pd.to_datetime(df_poll_to_2023['Date'])

In [14]:
df_poll_to_2023.dtypes

Date                 datetime64[ns]
State                        object
O3 Mean                     float64
O3 1st Max Value            float64
O3 1st Max Hour               int64
O3 AQI                        int64
CO Mean                     float64
CO 1st Max Value            float64
CO 1st Max Hour               int64
CO AQI                      float64
SO2 Mean                    float64
SO2 1st Max Value           float64
SO2 1st Max Hour              int64
SO2 AQI                     float64
NO2 Mean                    float64
NO2 1st Max Value           float64
NO2 1st Max Hour              int64
NO2 AQI                       int64
dtype: object

In [15]:
df_poll_to_2023.head()

,Date,State,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
0,2000-01-01,Arizona,0.019765,0.040,10,37,0.878947,2.2,23,25.0,3.000000,9.0,21,13.0,19.041667,49.0,19,46
1,2000-01-02,Arizona,0.015882,0.032,10,30,1.066667,2.3,0,26.0,1.958333,3.0,22,4.0,22.958333,36.0,19,34
2,2000-01-03,Arizona,0.009353,0.016,9,15,1.762500,2.5,8,28.0,5.250000,11.0,19,16.0,38.125000,51.0,8,48
3,2000-01-04,Arizona,0.015882,0.033,9,31,1.829167,3.0,23,34.0,7.083333,16.0,8,23.0,40.260870,74.0,8,72
4,2000-01-05,Arizona,0.007353,0.012,9,11,2.700000,3.7,2,42.0,8.708333,15.0,7,21.0,48.450000,61.0,22,58

In [16]:
df_poll_to_2023.set_index("Date", inplace=True)