In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_poll_to_2023 = pd.read_csv('../data/pollution_2000_2023.csv')
df_energy = pd.read_csv('../data/global-data-on-sustainable-energy.csv')

In [4]:
df_energy.columns

Index(['Entity', 'Year', 'Access to electricity (% of population)',
       'Access to clean fuels for cooking',
       'Renewable-electricity-generating-capacity-per-capita',
       'Financial flows to developing countries (US $)',
       'Renewable energy share in the total final energy consumption (%)',
       'Electricity from fossil fuels (TWh)', 'Electricity from nuclear (TWh)',
       'Electricity from renewables (TWh)',
       'Low-carbon electricity (% electricity)',
       'Primary energy consumption per capita (kWh/person)',
       'Energy intensity level of primary energy (MJ/$2017 PPP GDP)',
       'Value_co2_emissions_kt_by_country',
       'Renewables (% equivalent primary energy)', 'gdp_growth',
       'gdp_per_capita', 'Density\n(P/Km2)', 'Land Area(Km2)', 'Latitude',
       'Longitude'],
      dtype='object')

In [5]:
df_USA = df_energy[df_energy['Entity'] == 'United States'].copy()

In [6]:
df_USA

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
3502,United States,2000,100.0,100.0,NaN,NaN,5.43,2697.28,753.89,350.93,...,93999.860,6.73,5775810.000,4.027357,4.127484,36334.90878,36,9833517.0,37.09024,-95.712891
3503,United States,2001,100.0,100.0,NaN,NaN,4.68,2678.68,768.83,280.06,...,90772.180,6.54,5748260.000,3.421371,0.998341,37133.24281,36,9833517.0,37.09024,-95.712891
3504,United States,2002,100.0,100.0,NaN,NaN,4.84,2727.83,780.06,336.34,...,91201.060,6.50,5593029.785,4.015507,1.741695,38023.16111,36,9833517.0,37.09024,-95.712891
3505,United States,2003,100.0,100.0,NaN,NaN,5.33,2756.03,763.73,349.18,...,90619.110,6.33,5658990.234,4.180040,2.861211,39496.48588,36,9833517.0,37.09024,-95.712891
3506,United States,2004,100.0,100.0,NaN,NaN,5.48,2818.28,788.53,345.14,...,91504.484,6.22,5738290.039,4.101511,3.798891,41712.80107,36,9833517.0,37.09024,-95.712891
3507,United States,2005,100.0,100.0,NaN,NaN,5.84,2899.96,781.99,353.04,...,90654.530,6.04,5753490.234,4.219231,3.513214,44114.74778,36,9833517.0,37.09024,-95.712891
3508,United States,2006,100.0,100.0,NaN,NaN,6.40,2878.56,787.22,381.16,...,89067.040,5.82,5653080.078,4.678861,2.854972,46298.73144,36,9833517.0,37.09024,-95.712891
3509,United States,2007,100.0,100.0,NaN,NaN,6.30,2988.24,806.42,347.91,...,89395.140,5.81,5736319.824,4.373009,1.876171,47975.96770,36,9833517.0,37.09024,-95.712891
3510,United States,2008,100.0,100.0,NaN,NaN,6.85,2924.21,806.21,377.11,...,86378.650,5.67,5558379.883,5.004550,-0.136580,48382.55845,36,9833517.0,37.09024,-95.712891
3511,United States,2009,100.0,100.0,NaN,NaN,7.35,2725.41,798.85,415.56,...,81376.180,5.53,5156430.176,5.800006,-2.536757,47099.98047,36,9833517.0,37.09024,-95.712891
3512,United States,2010,100.0,100.0,NaN,NaN,7.44,2882.49,806.97,424.48,...,83397.480,5.52,5392109.863,5.840555,2.563767,48466.65760,36,9833517.0,37.09024,-95.712891
3513,United States,2011,100.0,100.0,NaN,NaN,8.36,2788.93,790.20,509.74,...,81962.360,5.36,5173600.098,6.897319,1.550836,49882.55813,36,9833517.0,37.09024,-95.712891
3514,United States,2012,100.0,100.0,NaN,NaN,8.73,2779.02,769.33,492.32,...,79102.340,5.15,4956060.059,6.886334,2.249546,51602.93105,36,9833517.0,37.09024,-95.712891
3515,United States,2013,100.0,100.0,NaN,NaN,9.08,2746.21,789.02,520.38,...,80556.516,5.15,5092100.098,7.134616,1.842081,53106.53677,36,9833517.0,37.09024,-95.712891
3516,United States,2014,100.0,100.0,NaN,NaN,9.22,2752.01,797.17,546.83,...,80725.086,5.08,5107209.961,7.262891,2.525973,55049.98833,36,9833517.0,37.09024,-95.712891
3517,United States,2015,100.0,100.0,NaN,NaN,9.03,2730.32,797.18,556.49,...,79317.370,4.88,4990709.961,7.468743,3.075515,56863.37150,36,9833517.0,37.09024,-95.712891
3518,United States,2016,100.0,100.0,NaN,NaN,9.46,2656.96,805.69,624.91,...,78613.540,4.74,4894500.000,8.285086,1.711427,58021.40050,36,9833517.0,37.09024,-95.712891
3519,United States,2017,100.0,100.0,NaN,NaN,9.92,2540.17,804.95,707.19,...,78289.010,4.62,4819370.117,9.082049,2.332679,60109.65573,36,9833517.0,37.09024,-95.712891
3520,United States,2018,100.0,100.0,NaN,NaN,10.12,2661.30,807.08,733.17,...,80583.340,4.61,4975310.059,8.964939,2.996464,63064.41841,36,9833517.0,37.09024,-95.712891
3521,United States,2019,100.0,100.0,NaN,NaN,10.42,2588.21,809.41,760.76,...,79489.016,4.51,4817720.215,9.315263,2.161177,65279.52903,36,9833517.0,37.09024,-95.712891
3522,United States,2020,100.0,100.0,NaN,NaN,NaN,2431.90,789.88,821.40,...,73236.140,NaN,NaN,10.532232,-3.404592,63593.44362,36,9833517.0,37.09024,-95.712891

In [7]:
df_USA.columns

Index(['Entity', 'Year', 'Access to electricity (% of population)',
       'Access to clean fuels for cooking',
       'Renewable-electricity-generating-capacity-per-capita',
       'Financial flows to developing countries (US $)',
       'Renewable energy share in the total final energy consumption (%)',
       'Electricity from fossil fuels (TWh)', 'Electricity from nuclear (TWh)',
       'Electricity from renewables (TWh)',
       'Low-carbon electricity (% electricity)',
       'Primary energy consumption per capita (kWh/person)',
       'Energy intensity level of primary energy (MJ/$2017 PPP GDP)',
       'Value_co2_emissions_kt_by_country',
       'Renewables (% equivalent primary energy)', 'gdp_growth',
       'gdp_per_capita', 'Density\n(P/Km2)', 'Land Area(Km2)', 'Latitude',
       'Longitude'],
      dtype='object')

In [8]:
df_USA.set_index(df_USA['Year'], inplace=True)
df_USA

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
Year,,,,,,,,,,,,,,,,,,,,,
2000,United States,2000,100.0,100.0,NaN,NaN,5.43,2697.28,753.89,350.93,...,93999.860,6.73,5775810.000,4.027357,4.127484,36334.90878,36,9833517.0,37.09024,-95.712891
2001,United States,2001,100.0,100.0,NaN,NaN,4.68,2678.68,768.83,280.06,...,90772.180,6.54,5748260.000,3.421371,0.998341,37133.24281,36,9833517.0,37.09024,-95.712891
2002,United States,2002,100.0,100.0,NaN,NaN,4.84,2727.83,780.06,336.34,...,91201.060,6.50,5593029.785,4.015507,1.741695,38023.16111,36,9833517.0,37.09024,-95.712891
2003,United States,2003,100.0,100.0,NaN,NaN,5.33,2756.03,763.73,349.18,...,90619.110,6.33,5658990.234,4.180040,2.861211,39496.48588,36,9833517.0,37.09024,-95.712891
2004,United States,2004,100.0,100.0,NaN,NaN,5.48,2818.28,788.53,345.14,...,91504.484,6.22,5738290.039,4.101511,3.798891,41712.80107,36,9833517.0,37.09024,-95.712891
2005,United States,2005,100.0,100.0,NaN,NaN,5.84,2899.96,781.99,353.04,...,90654.530,6.04,5753490.234,4.219231,3.513214,44114.74778,36,9833517.0,37.09024,-95.712891
2006,United States,2006,100.0,100.0,NaN,NaN,6.40,2878.56,787.22,381.16,...,89067.040,5.82,5653080.078,4.678861,2.854972,46298.73144,36,9833517.0,37.09024,-95.712891
2007,United States,2007,100.0,100.0,NaN,NaN,6.30,2988.24,806.42,347.91,...,89395.140,5.81,5736319.824,4.373009,1.876171,47975.96770,36,9833517.0,37.09024,-95.712891
2008,United States,2008,100.0,100.0,NaN,NaN,6.85,2924.21,806.21,377.11,...,86378.650,5.67,5558379.883,5.004550,-0.136580,48382.55845,36,9833517.0,37.09024,-95.712891
2009,United States,2009,100.0,100.0,NaN,NaN,7.35,2725.41,798.85,415.56,...,81376.180,5.53,5156430.176,5.800006,-2.536757,47099.98047,36,9833517.0,37.09024,-95.712891
2010,United States,2010,100.0,100.0,NaN,NaN,7.44,2882.49,806.97,424.48,...,83397.480,5.52,5392109.863,5.840555,2.563767,48466.65760,36,9833517.0,37.09024,-95.712891
2011,United States,2011,100.0,100.0,NaN,NaN,8.36,2788.93,790.20,509.74,...,81962.360,5.36,5173600.098,6.897319,1.550836,49882.55813,36,9833517.0,37.09024,-95.712891
2012,United States,2012,100.0,100.0,NaN,NaN,8.73,2779.02,769.33,492.32,...,79102.340,5.15,4956060.059,6.886334,2.249546,51602.93105,36,9833517.0,37.09024,-95.712891
2013,United States,2013,100.0,100.0,NaN,NaN,9.08,2746.21,789.02,520.38,...,80556.516,5.15,5092100.098,7.134616,1.842081,53106.53677,36,9833517.0,37.09024,-95.712891
2014,United States,2014,100.0,100.0,NaN,NaN,9.22,2752.01,797.17,546.83,...,80725.086,5.08,5107209.961,7.262891,2.525973,55049.98833,36,9833517.0,37.09024,-95.712891
2015,United States,2015,100.0,100.0,NaN,NaN,9.03,2730.32,797.18,556.49,...,79317.370,4.88,4990709.961,7.468743,3.075515,56863.37150,36,9833517.0,37.09024,-95.712891
2016,United States,2016,100.0,100.0,NaN,NaN,9.46,2656.96,805.69,624.91,...,78613.540,4.74,4894500.000,8.285086,1.711427,58021.40050,36,9833517.0,37.09024,-95.712891
2017,United States,2017,100.0,100.0,NaN,NaN,9.92,2540.17,804.95,707.19,...,78289.010,4.62,4819370.117,9.082049,2.332679,60109.65573,36,9833517.0,37.09024,-95.712891
2018,United States,2018,100.0,100.0,NaN,NaN,10.12,2661.30,807.08,733.17,...,80583.340,4.61,4975310.059,8.964939,2.996464,63064.41841,36,9833517.0,37.09024,-95.712891
2019,United States,2019,100.0,100.0,NaN,NaN,10.42,2588.21,809.41,760.76,...,79489.016,4.51,4817720.215,9.315263,2.161177,65279.52903,36,9833517.0,37.09024,-95.712891
2020,United States,2020,100.0,100.0,NaN,NaN,NaN,2431.90,789.88,821.40,...,73236.140,NaN,NaN,10.532232,-3.404592,63593.44362,36,9833517.0,37.09024,-95.712891

In [9]:
cols_to_drop = ['Entity', 'Year', 'Access to electricity (% of population)',
                'Access to clean fuels for cooking',
                'Renewable-electricity-generating-capacity-per-capita',
                'Financial flows to developing countries (US $)', 
                'Land Area(Km2)', 'Latitude', 'Longitude','Value_co2_emissions_kt_by_country']

# Drop the specified columns in-place
df_USA_dropped = df_USA.drop(columns=cols_to_drop)

In [10]:
df_USA_dropped

,Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2)
Year,,,,,,,,,,,
2000,5.43,2697.28,753.89,350.93,29.058150,93999.860,6.73,4.027357,4.127484,36334.90878,36
2001,4.68,2678.68,768.83,280.06,28.138706,90772.180,6.54,3.421371,0.998341,37133.24281,36
2002,4.84,2727.83,780.06,336.34,29.040926,91201.060,6.50,4.015507,1.741695,38023.16111,36
2003,5.33,2756.03,763.73,349.18,28.765244,90619.110,6.33,4.180040,2.861211,39496.48588,36
2004,5.48,2818.28,788.53,345.14,28.686348,91504.484,6.22,4.101511,3.798891,41712.80107,36
2005,5.84,2899.96,781.99,353.04,28.129686,90654.530,6.04,4.219231,3.513214,44114.74778,36
2006,6.40,2878.56,787.22,381.16,28.870703,89067.040,5.82,4.678861,2.854972,46298.73144,36
2007,6.30,2988.24,806.42,347.91,27.865068,89395.140,5.81,4.373009,1.876171,47975.96770,36
2008,6.85,2924.21,806.21,377.11,28.808554,86378.650,5.67,5.004550,-0.136580,48382.55845,36
2009,7.35,2725.41,798.85,415.56,30.823996,81376.180,5.53,5.800006,-2.536757,47099.98047,36
2010,7.44,2882.49,806.97,424.48,29.933590,83397.480,5.52,5.840555,2.563767,48466.65760,36
2011,8.36,2788.93,790.20,509.74,31.792154,81962.360,5.36,6.897319,1.550836,49882.55813,36
2012,8.73,2779.02,769.33,492.32,31.223783,79102.340,5.15,6.886334,2.249546,51602.93105,36
2013,9.08,2746.21,789.02,520.38,32.286140,80556.516,5.15,7.134616,1.842081,53106.53677,36
2014,9.22,2752.01,797.17,546.83,32.812420,80725.086,5.08,7.262891,2.525973,55049.98833,36
2015,9.03,2730.32,797.18,556.49,33.145770,79317.370,4.88,7.468743,3.075515,56863.37150,36
2016,9.46,2656.96,805.69,624.91,34.998875,78613.540,4.74,8.285086,1.711427,58021.40050,36
2017,9.92,2540.17,804.95,707.19,37.315506,78289.010,4.62,9.082049,2.332679,60109.65573,36
2018,10.12,2661.30,807.08,733.17,36.659092,80583.340,4.61,8.964939,2.996464,63064.41841,36
2019,10.42,2588.21,809.41,760.76,37.759180,79489.016,4.51,9.315263,2.161177,65279.52903,36
2020,NaN,2431.90,789.88,821.40,39.851800,73236.140,NaN,10.532232,-3.404592,63593.44362,36

In [11]:
# ONly Run Once to get rid of Density
df_USA_dropped = df_USA_dropped.iloc[:,:-1]

In [12]:
df_USA_dropped

,Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita
Year,,,,,,,,,,
2000,5.43,2697.28,753.89,350.93,29.058150,93999.860,6.73,4.027357,4.127484,36334.90878
2001,4.68,2678.68,768.83,280.06,28.138706,90772.180,6.54,3.421371,0.998341,37133.24281
2002,4.84,2727.83,780.06,336.34,29.040926,91201.060,6.50,4.015507,1.741695,38023.16111
2003,5.33,2756.03,763.73,349.18,28.765244,90619.110,6.33,4.180040,2.861211,39496.48588
2004,5.48,2818.28,788.53,345.14,28.686348,91504.484,6.22,4.101511,3.798891,41712.80107
2005,5.84,2899.96,781.99,353.04,28.129686,90654.530,6.04,4.219231,3.513214,44114.74778
2006,6.40,2878.56,787.22,381.16,28.870703,89067.040,5.82,4.678861,2.854972,46298.73144
2007,6.30,2988.24,806.42,347.91,27.865068,89395.140,5.81,4.373009,1.876171,47975.96770
2008,6.85,2924.21,806.21,377.11,28.808554,86378.650,5.67,5.004550,-0.136580,48382.55845
2009,7.35,2725.41,798.85,415.56,30.823996,81376.180,5.53,5.800006,-2.536757,47099.98047
2010,7.44,2882.49,806.97,424.48,29.933590,83397.480,5.52,5.840555,2.563767,48466.65760
2011,8.36,2788.93,790.20,509.74,31.792154,81962.360,5.36,6.897319,1.550836,49882.55813
2012,8.73,2779.02,769.33,492.32,31.223783,79102.340,5.15,6.886334,2.249546,51602.93105
2013,9.08,2746.21,789.02,520.38,32.286140,80556.516,5.15,7.134616,1.842081,53106.53677
2014,9.22,2752.01,797.17,546.83,32.812420,80725.086,5.08,7.262891,2.525973,55049.98833
2015,9.03,2730.32,797.18,556.49,33.145770,79317.370,4.88,7.468743,3.075515,56863.37150
2016,9.46,2656.96,805.69,624.91,34.998875,78613.540,4.74,8.285086,1.711427,58021.40050
2017,9.92,2540.17,804.95,707.19,37.315506,78289.010,4.62,9.082049,2.332679,60109.65573
2018,10.12,2661.30,807.08,733.17,36.659092,80583.340,4.61,8.964939,2.996464,63064.41841
2019,10.42,2588.21,809.41,760.76,37.759180,79489.016,4.51,9.315263,2.161177,65279.52903
2020,NaN,2431.90,789.88,821.40,39.851800,73236.140,NaN,10.532232,-3.404592,63593.44362

In [13]:
df_USA_dropped['Renewable energy share in the total final energy consumption (%)'] = df_USA_dropped['Renewable energy share in the total final energy consumption (%)'].fillna(value=10.81)

In [14]:
df_USA_dropped['Energy intensity level of primary energy (MJ/$2017 PPP GDP)'] = df_USA_dropped['Energy intensity level of primary energy (MJ/$2017 PPP GDP)'].fillna(value=4.91)

In [15]:
df_USA_dropped

,Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita
Year,,,,,,,,,,
2000,5.43,2697.28,753.89,350.93,29.058150,93999.860,6.73,4.027357,4.127484,36334.90878
2001,4.68,2678.68,768.83,280.06,28.138706,90772.180,6.54,3.421371,0.998341,37133.24281
2002,4.84,2727.83,780.06,336.34,29.040926,91201.060,6.50,4.015507,1.741695,38023.16111
2003,5.33,2756.03,763.73,349.18,28.765244,90619.110,6.33,4.180040,2.861211,39496.48588
2004,5.48,2818.28,788.53,345.14,28.686348,91504.484,6.22,4.101511,3.798891,41712.80107
2005,5.84,2899.96,781.99,353.04,28.129686,90654.530,6.04,4.219231,3.513214,44114.74778
2006,6.40,2878.56,787.22,381.16,28.870703,89067.040,5.82,4.678861,2.854972,46298.73144
2007,6.30,2988.24,806.42,347.91,27.865068,89395.140,5.81,4.373009,1.876171,47975.96770
2008,6.85,2924.21,806.21,377.11,28.808554,86378.650,5.67,5.004550,-0.136580,48382.55845
2009,7.35,2725.41,798.85,415.56,30.823996,81376.180,5.53,5.800006,-2.536757,47099.98047
2010,7.44,2882.49,806.97,424.48,29.933590,83397.480,5.52,5.840555,2.563767,48466.65760
2011,8.36,2788.93,790.20,509.74,31.792154,81962.360,5.36,6.897319,1.550836,49882.55813
2012,8.73,2779.02,769.33,492.32,31.223783,79102.340,5.15,6.886334,2.249546,51602.93105
2013,9.08,2746.21,789.02,520.38,32.286140,80556.516,5.15,7.134616,1.842081,53106.53677
2014,9.22,2752.01,797.17,546.83,32.812420,80725.086,5.08,7.262891,2.525973,55049.98833
2015,9.03,2730.32,797.18,556.49,33.145770,79317.370,4.88,7.468743,3.075515,56863.37150
2016,9.46,2656.96,805.69,624.91,34.998875,78613.540,4.74,8.285086,1.711427,58021.40050
2017,9.92,2540.17,804.95,707.19,37.315506,78289.010,4.62,9.082049,2.332679,60109.65573
2018,10.12,2661.30,807.08,733.17,36.659092,80583.340,4.61,8.964939,2.996464,63064.41841
2019,10.42,2588.21,809.41,760.76,37.759180,79489.016,4.51,9.315263,2.161177,65279.52903
2020,10.81,2431.90,789.88,821.40,39.851800,73236.140,4.91,10.532232,-3.404592,63593.44362

In [16]:
df_USA_dropped.dtypes

Renewable energy share in the total final energy consumption (%)    float64
Electricity from fossil fuels (TWh)                                 float64
Electricity from nuclear (TWh)                                      float64
Electricity from renewables (TWh)                                   float64
Low-carbon electricity (% electricity)                              float64
Primary energy consumption per capita (kWh/person)                  float64
Energy intensity level of primary energy (MJ/$2017 PPP GDP)         float64
Renewables (% equivalent primary energy)                            float64
gdp_growth                                                          float64
gdp_per_capita                                                      float64
dtype: object

In [17]:
df_USA_dropped.shape

(21, 10)

In [18]:
df_USA_dropped.isna().sum()

Renewable energy share in the total final energy consumption (%)    0
Electricity from fossil fuels (TWh)                                 0
Electricity from nuclear (TWh)                                      0
Electricity from renewables (TWh)                                   0
Low-carbon electricity (% electricity)                              0
Primary energy consumption per capita (kWh/person)                  0
Energy intensity level of primary energy (MJ/$2017 PPP GDP)         0
Renewables (% equivalent primary energy)                            0
gdp_growth                                                          0
gdp_per_capita                                                      0
dtype: int64

### Try to elongate data based on cities

In [19]:
print(df_poll_to_2023.columns)

Index(['Unnamed: 0', 'Date', 'Address', 'State', 'County', 'City', 'O3 Mean',
       'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'CO Mean',
       'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI', 'SO2 Mean',
       'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI'],
      dtype='object')

In [20]:
df_poll_to_2023.drop(columns=["Unnamed: 0", "Address","County", "City"], inplace=True)

df_poll_to_2023.head()

,Date,State,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
0,2000-01-01,Arizona,0.019765,0.040,10,37,0.878947,2.2,23,25.0,3.000000,9.0,21,13.0,19.041667,49.0,19,46
1,2000-01-02,Arizona,0.015882,0.032,10,30,1.066667,2.3,0,26.0,1.958333,3.0,22,4.0,22.958333,36.0,19,34
2,2000-01-03,Arizona,0.009353,0.016,9,15,1.762500,2.5,8,28.0,5.250000,11.0,19,16.0,38.125000,51.0,8,48
3,2000-01-04,Arizona,0.015882,0.033,9,31,1.829167,3.0,23,34.0,7.083333,16.0,8,23.0,40.260870,74.0,8,72
4,2000-01-05,Arizona,0.007353,0.012,9,11,2.700000,3.7,2,42.0,8.708333,15.0,7,21.0,48.450000,61.0,22,58

In [54]:
df_USA_dropped.to_csv('../data/df_USA_cleaned.csv', index=True)

In [22]:
print(df_poll_to_2023.shape)

(665414, 18)

In [23]:
df_poll_to_2023[['Date']].value_counts()

Date
2019-12-04    104
2019-12-11    104
2019-11-26    103
2019-11-29    103
2019-12-07    103
             ...
2023-09-02      8
2023-09-14      8
2023-09-15      8
2023-09-17      8
2023-09-07      7
Name: count, Length: 8674, dtype: int64

In [56]:
df_poll_to_2023['State'].value_counts().head(10)

State
California        201244
Pennsylvania       54142
Texas              38980
Arizona            25118
New York           22685
Virginia           20571
Colorado           16198
North Carolina     14449
Illinois           13803
Ohio               13376
Name: count, dtype: int64

In [25]:
df_poll_to_2023['Date']

0         2000-01-01
1         2000-01-02
2         2000-01-03
3         2000-01-04
4         2000-01-05
             ...
665409    2023-06-26
665410    2023-06-27
665411    2023-06-28
665412    2023-06-29
665413    2023-06-30
Name: Date, Length: 665414, dtype: object

In [26]:
# Assuming df is your merged DataFrame and 'Date' is the column containing dates
# df_poll_to_2023['Date'] = pd.to_datetime(df_poll_to_2023['Date']).dt.strftime('%Y%m%d').astype(int)

In [27]:
# df_poll_to_2023['Date']

In [28]:
# Assuming df is your DataFrame
df_poll_to_2023['Date'] = pd.to_datetime(df_poll_to_2023['Date'])
df_poll_to_2023['Year'] = df_poll_to_2023['Date'].dt.year
df_poll_to_2023['Month'] = df_poll_to_2023['Date'].dt.month

# List of columns to be averaged
columns_to_average = ['O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI',
                       'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI',
                       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
                       'NO2 Mean', 'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI']

# Group by State, Year, and Month and calculate the mean for each group
df_grouped = df_poll_to_2023.groupby(['State', 'Year', 'Month'])[columns_to_average].mean().reset_index()

# Display the new DataFrame
# print(df_grouped.head());

In [29]:
df_grouped;

In [30]:
df_grouped.shape

(8823, 19)

In [31]:
#df.to_csv('out.csv', index=False)  
df_grouped.to_csv('Pollution_2000_2023_groupbyed.csv', index=False)

In [32]:
# Create a dataframe for the years 2000-2016
df_2000_2017 = df_grouped[(df_grouped['Year'] >= 2000) & (df_grouped['Year'] <= 2017)]

# Create a dataframe for the years 2017-2023
df_2018_2023 = df_grouped[(df_grouped['Year'] >= 2018) & (df_grouped['Year'] <= 2023)]

In [33]:
df_2000_2017.shape

(6063, 19)

In [34]:
year_2000_pollution = df_2000_2017[df_2000_2017['Year']==2000].reset_index()

In [35]:
# Need to relabel these as monthly mean values 
year_2000_pollution

,index,State,Year,Month,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
0,169,Arizona,2000,1,0.018242,0.033239,9.945652,31.891304,1.336178,2.400000,10.130435,27.250000,4.289626,9.315217,13.586957,13.304348,50.773189,99.771739,16.380435,74.826087
1,170,Arizona,2000,2,0.023883,0.042200,10.387500,44.050000,0.985815,1.772500,9.212500,20.162500,3.050312,7.375000,11.500000,10.562500,39.194172,82.975000,15.987500,68.200000
2,171,Arizona,2000,3,0.027969,0.045933,10.483146,44.157303,0.690650,1.179775,7.966292,13.426966,2.996043,5.085393,11.000000,6.943820,26.624147,51.382022,15.786517,48.887640
3,172,Arizona,2000,4,0.034200,0.054920,10.760000,58.040000,0.661423,1.154000,9.160000,13.220000,2.023192,5.800000,9.680000,8.320000,23.464792,53.160000,15.480000,50.880000
4,173,Arizona,2000,5,0.038819,0.059276,10.379310,70.620690,0.539292,0.920690,6.086207,10.568966,2.187372,5.706897,9.724138,8.103448,8.825951,25.300000,13.568966,23.793103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,8604,Wisconsin,2000,6,0.034779,0.043933,11.966667,45.566667,0.208750,0.330000,5.366667,3.666667,3.290399,15.300000,8.133333,21.000000,13.297421,30.233333,14.733333,28.633333
209,8605,Wisconsin,2000,7,0.036568,0.046464,12.142857,49.071429,0.184673,0.285714,7.142857,3.178571,2.394345,5.535714,3.285714,8.071429,10.294430,25.464286,12.250000,24.035714
210,8606,Wisconsin,2000,8,0.038030,0.048387,12.161290,50.064516,0.286962,0.422581,9.258065,4.806452,2.948165,11.838710,4.451613,15.225806,11.636551,27.322581,12.709677,25.709677
211,8607,Wisconsin,2000,9,0.029248,0.038630,12.333333,37.185185,0.379475,0.633333,7.444444,7.296296,2.630732,7.259259,3.555556,10.407407,12.954059,27.518519,13.259259,26.000000
212,8608,Wisconsin,2000,10,0.024776,0.033067,10.400000,32.400000,0.147500,0.260000,6.133333,2.933333,5.368639,18.200000,4.866667,24.200000,17.468321,33.400000,15.800000,31.466667

In [58]:
year_2000_pollution['State'].value_counts(normalize=True)

State
Arizona                 0.056338
California              0.056338
Colorado                0.056338
District Of Columbia    0.056338
Florida                 0.056338
Kansas                  0.056338
Louisiana               0.056338
New Jersey              0.056338
New York                0.056338
Texas                   0.056338
Virginia                0.056338
Pennsylvania            0.056338
Illinois                0.046948
Kentucky                0.042254
Missouri                0.042254
North Carolina          0.037559
Indiana                 0.032864
Michigan                0.032864
Oklahoma                0.032864
Wisconsin               0.032864
Washington              0.023474
Name: proportion, dtype: float64

In [36]:
# Define the columns you want to add
columns_to_add = ['Renewable energy share in the total final energy consumption (%)',
                  'Electricity from fossil fuels (TWh)', 'Electricity from nuclear (TWh)',
                  'Electricity from renewables (TWh)',
                  'Low-carbon electricity (% electricity)',
                  'Primary energy consumption per capita (kWh/person)',
                  'Energy intensity level of primary energy (MJ/$2017 PPP GDP)',
                  'Renewables (% equivalent primary energy)', 'gdp_growth',
                  'gdp_per_capita']

# Get the values from df_USA_dropped for the year 2000
usa_dropped_values = df_USA_dropped.loc[2000].values.squeeze()

# Divide the values by the total number of entries in year_2000_pollution
usa_dropped_values /= len(year_2000_pollution)

# Add new columns to year_2000_pollution
for column, value in zip(columns_to_add, usa_dropped_values):
    year_2000_pollution[column] = value

# Display the resulting dataframe
print(year_2000_pollution)

     index      State  Year  Month   O3 Mean  O3 1st Max Value  \
0      169    Arizona  2000      1  0.018242          0.033239
1      170    Arizona  2000      2  0.023883          0.042200
2      171    Arizona  2000      3  0.027969          0.045933
3      172    Arizona  2000      4  0.034200          0.054920
4      173    Arizona  2000      5  0.038819          0.059276
..     ...        ...   ...    ...       ...               ...
208   8604  Wisconsin  2000      6  0.034779          0.043933
209   8605  Wisconsin  2000      7  0.036568          0.046464
210   8606  Wisconsin  2000      8  0.038030          0.048387
211   8607  Wisconsin  2000      9  0.029248          0.038630
212   8608  Wisconsin  2000     10  0.024776          0.033067

     O3 1st Max Hour     O3 AQI   CO Mean  CO 1st Max Value  ...  \
0           9.945652  31.891304  1.336178          2.400000  ...
1          10.387500  44.050000  0.985815          1.772500  ...
2          10.483146  44.157303  0.690650          1.179775  ...
3          10.760000  58.040000  0.661423          1.154000  ...
4          10.379310  70.620690  0.539292          0.920690  ...
..               ...        ...       ...               ...  ...
208        11.966667  45.566667  0.208750          0.330000  ...
209        12.142857  49.071429  0.184673          0.285714  ...
210        12.161290  50.064516  0.286962          0.422581  ...
211        12.333333  37.185185  0.379475          0.633333  ...
212        10.400000  32.400000  0.147500          0.260000  ...

     Renewable energy share in the total final energy consumption (%)  \
0                                             0.025493
1                                             0.025493
2                                             0.025493
3                                             0.025493
4                                             0.025493
..                                                 ...
208                                           0.025493
209                                           0.025493
210                                           0.025493
211                                           0.025493
212                                           0.025493

     Electricity from fossil fuels (TWh)  Electricity from nuclear (TWh)  \
0                              12.663286                         3.53939
1                              12.663286                         3.53939
2                              12.663286                         3.53939
3                              12.663286                         3.53939
4                              12.663286                         3.53939
..                                   ...                             ...
208                            12.663286                         3.53939
209                            12.663286                         3.53939
210                            12.663286                         3.53939
211                            12.663286                         3.53939
212                            12.663286                         3.53939

     Electricity from renewables (TWh)  \
0                             1.647559
1                             1.647559
2                             1.647559
3                             1.647559
4                             1.647559
..                                 ...
208                           1.647559
209                           1.647559
210                           1.647559
211                           1.647559
212                           1.647559

     Low-carbon electricity (% electricity)  \
0                                  0.136423
1                                  0.136423
2                                  0.136423
3                                  0.136423
4                                  0.136423
..                                      ...
208                                0.136423
209                                0.136423
210                                0.136423
211                                0.136423
212                                0.136423

     Primary energy consumption per capita (kWh/person)  \
0                                           441.313897
1                                           441.313897
2                                           441.313897
3                                           441.313897
4                                           441.313897
..                                                 ...
208                                         441.313897
209                                         441.313897
210                                         441.313897
211                                         441.313897
212                                         441.313897

     Energy intensity level of primary energy (MJ/$2017 PPP GDP)  \
0                                             0.031596
1                                             0.031596
2                                             0.031596
3                                             0.031596
4                                             0.031596
..                                                 ...
208                                           0.031596
209                                           0.031596
210                                           0.031596
211                                           0.031596
212                                           0.031596

     Renewables (% equivalent primary energy)  gdp_growth  gdp_per_capita
0                                    0.018908    0.019378      170.586426
1                                    0.018908    0.019378      170.586426
2                                    0.018908    0.019378      170.586426
3                                    0.018908    0.019378      170.586426
4                                    0.018908    0.019378      170.586426
..                                        ...         ...             ...
208                                  0.018908    0.019378      170.586426
209                                  0.018908    0.019378      170.586426
210                                  0.018908    0.019378      170.586426
211                                  0.018908    0.019378      170.586426
212                                  0.018908    0.019378      170.586426

[213 rows x 30 columns]

In [37]:
year_2000_pollution = year_2000_pollution.drop(columns='index').reset_index(drop=True)
year_2000_pollution

,State,Year,Month,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,...,Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita
0,Arizona,2000,1,0.018242,0.033239,9.945652,31.891304,1.336178,2.400000,10.130435,...,0.025493,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426
1,Arizona,2000,2,0.023883,0.042200,10.387500,44.050000,0.985815,1.772500,9.212500,...,0.025493,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426
2,Arizona,2000,3,0.027969,0.045933,10.483146,44.157303,0.690650,1.179775,7.966292,...,0.025493,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426
3,Arizona,2000,4,0.034200,0.054920,10.760000,58.040000,0.661423,1.154000,9.160000,...,0.025493,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426
4,Arizona,2000,5,0.038819,0.059276,10.379310,70.620690,0.539292,0.920690,6.086207,...,0.025493,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,Wisconsin,2000,6,0.034779,0.043933,11.966667,45.566667,0.208750,0.330000,5.366667,...,0.025493,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426
209,Wisconsin,2000,7,0.036568,0.046464,12.142857,49.071429,0.184673,0.285714,7.142857,...,0.025493,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426
210,Wisconsin,2000,8,0.038030,0.048387,12.161290,50.064516,0.286962,0.422581,9.258065,...,0.025493,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426
211,Wisconsin,2000,9,0.029248,0.038630,12.333333,37.185185,0.379475,0.633333,7.444444,...,0.025493,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426
212,Wisconsin,2000,10,0.024776,0.033067,10.400000,32.400000,0.147500,0.260000,6.133333,...,0.025493,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426

In [38]:
year_2000_pollution.shape

(213, 29)

In [39]:
# Create an empty dataframe to store the final result
df_combined_all_years = pd.DataFrame()

# Iterate over each year from 2001 to 2017
for year in range(2001, 2018):
    # Filter the dataframe for the specific year
    year_pollution = df_2000_2017[df_2000_2017['Year'] == year].reset_index()

    # Get the values from df_USA_dropped for the specific year and convert them to numeric
    usa_dropped_values = pd.to_numeric(df_USA_dropped.loc[year].values.squeeze(), errors='coerce')

    # Divide the numeric values by the total number of entries in the current year's dataframe
    usa_dropped_values /= len(year_pollution)

    # Add new columns to the current year's dataframe
    for column, value in zip(columns_to_add, usa_dropped_values):
        year_pollution[column] = value

    # Append the current year's dataframe to the final result
    df_combined_all_years = pd.concat([df_combined_all_years, year_pollution])

# Reset the index of the final result
df_combined_all_years = df_combined_all_years.reset_index(drop=True)

# Display the resulting dataframe
print(df_combined_all_years)

      index    State  Year  Month   O3 Mean  O3 1st Max Value  \
0       181  Arizona  2001      1  0.015077          0.026720
1       182  Arizona  2001      2  0.016812          0.029053
2       183  Arizona  2001      3  0.024114          0.041851
3       184  Arizona  2001      4  0.032533          0.051463
4       185  Arizona  2001      5  0.034965          0.054919
...     ...      ...   ...    ...       ...               ...
5845   8752  Wyoming  2017      8  0.043358          0.052194
5846   8753  Wyoming  2017      9  0.037946          0.046000
5847   8754  Wyoming  2017     10  0.034492          0.041727
5848   8755  Wyoming  2017     11  0.028938          0.035960
5849   8756  Wyoming  2017     12  0.033213          0.038258

      O3 1st Max Hour     O3 AQI   CO Mean  CO 1st Max Value  ...  \
0           10.494624  24.752688  0.869744          1.582796  ...
1           10.289474  26.842105  0.755519          1.342105  ...
2           10.264368  38.908046  0.612430          1.059770  ...
3           10.407407  51.518519  0.584217          1.007407  ...
4           10.241935  59.338710  0.548857          0.977419  ...
...               ...        ...       ...               ...  ...
5845         9.064516  49.709677  0.189534          0.209677  ...
5846        10.350000  45.400000  0.196542          0.255000  ...
5847         9.863636  38.727273  0.121151          0.150000  ...
5848        10.760000  33.320000  0.119833          0.164000  ...
5849        10.612903  35.354839  0.117271          0.177419  ...

      Renewable energy share in the total final energy consumption (%)  \
0                                              0.020800
1                                              0.020800
2                                              0.020800
3                                              0.020800
4                                              0.020800
...                                                 ...
5845                                           0.019262
5846                                           0.019262
5847                                           0.019262
5848                                           0.019262
5849                                           0.019262

      Electricity from fossil fuels (TWh)  Electricity from nuclear (TWh)  \
0                               11.905244                        3.417022
1                               11.905244                        3.417022
2                               11.905244                        3.417022
3                               11.905244                        3.417022
4                               11.905244                        3.417022
...                                   ...                             ...
5845                             4.932369                        1.563010
5846                             4.932369                        1.563010
5847                             4.932369                        1.563010
5848                             4.932369                        1.563010
5849                             4.932369                        1.563010

      Electricity from renewables (TWh)  \
0                              1.244711
1                              1.244711
2                              1.244711
3                              1.244711
4                              1.244711
...                                 ...
5845                           1.373184
5846                           1.373184
5847                           1.373184
5848                           1.373184
5849                           1.373184

      Low-carbon electricity (% electricity)  \
0                                   0.125061
1                                   0.125061
2                                   0.125061
3                                   0.125061
4                                   0.125061
...                                      ...
5845                                0.072457
5846                                0.072457
5847                                0.072457
5848                                0.072457
5849                                0.072457

      Primary energy consumption per capita (kWh/person)  \
0                                            403.431911
1                                            403.431911
2                                            403.431911
3                                            403.431911
4                                            403.431911
...                                                 ...
5845                                         152.017495
5846                                         152.017495
5847                                         152.017495
5848                                         152.017495
5849                                         152.017495

      Energy intensity level of primary energy (MJ/$2017 PPP GDP)  \
0                                              0.029067
1                                              0.029067
2                                              0.029067
3                                              0.029067
4                                              0.029067
...                                                 ...
5845                                           0.008971
5846                                           0.008971
5847                                           0.008971
5848                                           0.008971
5849                                           0.008971

      Renewables (% equivalent primary energy)  gdp_growth  gdp_per_capita
0                                     0.015206    0.004437      165.036635
1                                     0.015206    0.004437      165.036635
2                                     0.015206    0.004437      165.036635
3                                     0.015206    0.004437      165.036635
4                                     0.015206    0.004437      165.036635
...                                        ...         ...             ...
5845                                  0.017635    0.004529      116.717778
5846                                  0.017635    0.004529      116.717778
5847                                  0.017635    0.004529      116.717778
5848                                  0.017635    0.004529      116.717778
5849                                  0.017635    0.004529      116.717778

[5850 rows x 30 columns]

In [40]:
df_combined_all_years

,index,State,Year,Month,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,CO Mean,CO 1st Max Value,...,Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita
0,181,Arizona,2001,1,0.015077,0.026720,10.494624,24.752688,0.869744,1.582796,...,0.020800,11.905244,3.417022,1.244711,0.125061,403.431911,0.029067,0.015206,0.004437,165.036635
1,182,Arizona,2001,2,0.016812,0.029053,10.289474,26.842105,0.755519,1.342105,...,0.020800,11.905244,3.417022,1.244711,0.125061,403.431911,0.029067,0.015206,0.004437,165.036635
2,183,Arizona,2001,3,0.024114,0.041851,10.264368,38.908046,0.612430,1.059770,...,0.020800,11.905244,3.417022,1.244711,0.125061,403.431911,0.029067,0.015206,0.004437,165.036635
3,184,Arizona,2001,4,0.032533,0.051463,10.407407,51.518519,0.584217,1.007407,...,0.020800,11.905244,3.417022,1.244711,0.125061,403.431911,0.029067,0.015206,0.004437,165.036635
4,185,Arizona,2001,5,0.034965,0.054919,10.241935,59.338710,0.548857,0.977419,...,0.020800,11.905244,3.417022,1.244711,0.125061,403.431911,0.029067,0.015206,0.004437,165.036635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5845,8752,Wyoming,2017,8,0.043358,0.052194,9.064516,49.709677,0.189534,0.209677,...,0.019262,4.932369,1.563010,1.373184,0.072457,152.017495,0.008971,0.017635,0.004529,116.717778
5846,8753,Wyoming,2017,9,0.037946,0.046000,10.350000,45.400000,0.196542,0.255000,...,0.019262,4.932369,1.563010,1.373184,0.072457,152.017495,0.008971,0.017635,0.004529,116.717778
5847,8754,Wyoming,2017,10,0.034492,0.041727,9.863636,38.727273,0.121151,0.150000,...,0.019262,4.932369,1.563010,1.373184,0.072457,152.017495,0.008971,0.017635,0.004529,116.717778
5848,8755,Wyoming,2017,11,0.028938,0.035960,10.760000,33.320000,0.119833,0.164000,...,0.019262,4.932369,1.563010,1.373184,0.072457,152.017495,0.008971,0.017635,0.004529,116.717778
5849,8756,Wyoming,2017,12,0.033213,0.038258,10.612903,35.354839,0.117271,0.177419,...,0.019262,4.932369,1.563010,1.373184,0.072457,152.017495,0.008971,0.017635,0.004529,116.717778

In [41]:
# Concatenate the dataframes
df_2000_to_2017_pollution_renewables = pd.concat([year_2000_pollution, df_combined_all_years], ignore_index=True)

# Display the resulting dataframe
print(df_2000_to_2017_pollution_renewables)

        State  Year  Month   O3 Mean  O3 1st Max Value  O3 1st Max Hour  \
0     Arizona  2000      1  0.018242          0.033239         9.945652
1     Arizona  2000      2  0.023883          0.042200        10.387500
2     Arizona  2000      3  0.027969          0.045933        10.483146
3     Arizona  2000      4  0.034200          0.054920        10.760000
4     Arizona  2000      5  0.038819          0.059276        10.379310
...       ...   ...    ...       ...               ...              ...
6058  Wyoming  2017      8  0.043358          0.052194         9.064516
6059  Wyoming  2017      9  0.037946          0.046000        10.350000
6060  Wyoming  2017     10  0.034492          0.041727         9.863636
6061  Wyoming  2017     11  0.028938          0.035960        10.760000
6062  Wyoming  2017     12  0.033213          0.038258        10.612903

         O3 AQI   CO Mean  CO 1st Max Value  CO 1st Max Hour  ...  \
0     31.891304  1.336178          2.400000        10.130435  ...
1     44.050000  0.985815          1.772500         9.212500  ...
2     44.157303  0.690650          1.179775         7.966292  ...
3     58.040000  0.661423          1.154000         9.160000  ...
4     70.620690  0.539292          0.920690         6.086207  ...
...         ...       ...               ...              ...  ...
6058  49.709677  0.189534          0.209677         1.161290  ...
6059  45.400000  0.196542          0.255000         5.400000  ...
6060  38.727273  0.121151          0.150000         3.000000  ...
6061  33.320000  0.119833          0.164000         5.520000  ...
6062  35.354839  0.117271          0.177419         6.870968  ...

      Electricity from fossil fuels (TWh)  Electricity from nuclear (TWh)  \
0                               12.663286                         3.53939
1                               12.663286                         3.53939
2                               12.663286                         3.53939
3                               12.663286                         3.53939
4                               12.663286                         3.53939
...                                   ...                             ...
6058                             4.932369                         1.56301
6059                             4.932369                         1.56301
6060                             4.932369                         1.56301
6061                             4.932369                         1.56301
6062                             4.932369                         1.56301

      Electricity from renewables (TWh)  \
0                              1.647559
1                              1.647559
2                              1.647559
3                              1.647559
4                              1.647559
...                                 ...
6058                           1.373184
6059                           1.373184
6060                           1.373184
6061                           1.373184
6062                           1.373184

      Low-carbon electricity (% electricity)  \
0                                   0.136423
1                                   0.136423
2                                   0.136423
3                                   0.136423
4                                   0.136423
...                                      ...
6058                                0.072457
6059                                0.072457
6060                                0.072457
6061                                0.072457
6062                                0.072457

      Primary energy consumption per capita (kWh/person)  \
0                                            441.313897
1                                            441.313897
2                                            441.313897
3                                            441.313897
4                                            441.313897
...                                                 ...
6058                                         152.017495
6059                                         152.017495
6060                                         152.017495
6061                                         152.017495
6062                                         152.017495

      Energy intensity level of primary energy (MJ/$2017 PPP GDP)  \
0                                              0.031596
1                                              0.031596
2                                              0.031596
3                                              0.031596
4                                              0.031596
...                                                 ...
6058                                           0.008971
6059                                           0.008971
6060                                           0.008971
6061                                           0.008971
6062                                           0.008971

      Renewables (% equivalent primary energy)  gdp_growth  gdp_per_capita  \
0                                     0.018908    0.019378      170.586426
1                                     0.018908    0.019378      170.586426
2                                     0.018908    0.019378      170.586426
3                                     0.018908    0.019378      170.586426
4                                     0.018908    0.019378      170.586426
...                                        ...         ...             ...
6058                                  0.017635    0.004529      116.717778
6059                                  0.017635    0.004529      116.717778
6060                                  0.017635    0.004529      116.717778
6061                                  0.017635    0.004529      116.717778
6062                                  0.017635    0.004529      116.717778

       index
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
6058  8752.0
6059  8753.0
6060  8754.0
6061  8755.0
6062  8756.0

[6063 rows x 30 columns]

In [42]:
df_2000_to_2017_pollution_renewables

,State,Year,Month,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,...,Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,index
0,Arizona,2000,1,0.018242,0.033239,9.945652,31.891304,1.336178,2.400000,10.130435,...,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426,NaN
1,Arizona,2000,2,0.023883,0.042200,10.387500,44.050000,0.985815,1.772500,9.212500,...,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426,NaN
2,Arizona,2000,3,0.027969,0.045933,10.483146,44.157303,0.690650,1.179775,7.966292,...,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426,NaN
3,Arizona,2000,4,0.034200,0.054920,10.760000,58.040000,0.661423,1.154000,9.160000,...,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426,NaN
4,Arizona,2000,5,0.038819,0.059276,10.379310,70.620690,0.539292,0.920690,6.086207,...,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6058,Wyoming,2017,8,0.043358,0.052194,9.064516,49.709677,0.189534,0.209677,1.161290,...,4.932369,1.56301,1.373184,0.072457,152.017495,0.008971,0.017635,0.004529,116.717778,8752.0
6059,Wyoming,2017,9,0.037946,0.046000,10.350000,45.400000,0.196542,0.255000,5.400000,...,4.932369,1.56301,1.373184,0.072457,152.017495,0.008971,0.017635,0.004529,116.717778,8753.0
6060,Wyoming,2017,10,0.034492,0.041727,9.863636,38.727273,0.121151,0.150000,3.000000,...,4.932369,1.56301,1.373184,0.072457,152.017495,0.008971,0.017635,0.004529,116.717778,8754.0
6061,Wyoming,2017,11,0.028938,0.035960,10.760000,33.320000,0.119833,0.164000,5.520000,...,4.932369,1.56301,1.373184,0.072457,152.017495,0.008971,0.017635,0.004529,116.717778,8755.0
6062,Wyoming,2017,12,0.033213,0.038258,10.612903,35.354839,0.117271,0.177419,6.870968,...,4.932369,1.56301,1.373184,0.072457,152.017495,0.008971,0.017635,0.004529,116.717778,8756.0

In [43]:
df_2000_to_2017_pollution_renewables = df_2000_to_2017_pollution_renewables.drop(columns='index').reset_index(drop=True)

In [44]:
df_2000_to_2017_pollution_renewables

,State,Year,Month,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,...,Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita
0,Arizona,2000,1,0.018242,0.033239,9.945652,31.891304,1.336178,2.400000,10.130435,...,0.025493,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426
1,Arizona,2000,2,0.023883,0.042200,10.387500,44.050000,0.985815,1.772500,9.212500,...,0.025493,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426
2,Arizona,2000,3,0.027969,0.045933,10.483146,44.157303,0.690650,1.179775,7.966292,...,0.025493,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426
3,Arizona,2000,4,0.034200,0.054920,10.760000,58.040000,0.661423,1.154000,9.160000,...,0.025493,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426
4,Arizona,2000,5,0.038819,0.059276,10.379310,70.620690,0.539292,0.920690,6.086207,...,0.025493,12.663286,3.53939,1.647559,0.136423,441.313897,0.031596,0.018908,0.019378,170.586426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6058,Wyoming,2017,8,0.043358,0.052194,9.064516,49.709677,0.189534,0.209677,1.161290,...,0.019262,4.932369,1.56301,1.373184,0.072457,152.017495,0.008971,0.017635,0.004529,116.717778
6059,Wyoming,2017,9,0.037946,0.046000,10.350000,45.400000,0.196542,0.255000,5.400000,...,0.019262,4.932369,1.56301,1.373184,0.072457,152.017495,0.008971,0.017635,0.004529,116.717778
6060,Wyoming,2017,10,0.034492,0.041727,9.863636,38.727273,0.121151,0.150000,3.000000,...,0.019262,4.932369,1.56301,1.373184,0.072457,152.017495,0.008971,0.017635,0.004529,116.717778
6061,Wyoming,2017,11,0.028938,0.035960,10.760000,33.320000,0.119833,0.164000,5.520000,...,0.019262,4.932369,1.56301,1.373184,0.072457,152.017495,0.008971,0.017635,0.004529,116.717778
6062,Wyoming,2017,12,0.033213,0.038258,10.612903,35.354839,0.117271,0.177419,6.870968,...,0.019262,4.932369,1.56301,1.373184,0.072457,152.017495,0.008971,0.017635,0.004529,116.717778

In [45]:
columns_to_add = ['Renewable energy share in the total final energy consumption (%)',
                  'Electricity from fossil fuels (TWh)', 'Electricity from nuclear (TWh)',
                  'Electricity from renewables (TWh)',
                  'Low-carbon electricity (% electricity)',
                  'Primary energy consumption per capita (kWh/person)',
                  'Energy intensity level of primary energy (MJ/$2017 PPP GDP)',
                  'Renewables (% equivalent primary energy)', 'gdp_growth',
                  'gdp_per_capita']

# Create an empty dataframe to store the final result
df_combined_2018_to_2020 = pd.DataFrame()

# Iterate over each year from 2018 to 2020
for year in range(2018, 2021):
    # Filter the dataframe for the specific year
    year_pollution = df_2018_2023[df_2018_2023['Year'] == year].reset_index()

    # Get the values from df_USA_dropped for the specific year and convert them to numeric
    usa_dropped_values = pd.to_numeric(df_USA_dropped.loc[year].values.squeeze(), errors='coerce')

    # Divide the numeric values by the total number of entries in the current year's dataframe
    usa_dropped_values /= len(year_pollution)

    # Add new columns to the current year's dataframe
    for column, value in zip(columns_to_add, usa_dropped_values):
        year_pollution[column] = value

    # Append the current year's dataframe to the final result
    df_combined_2018_to_2020 = pd.concat([df_combined_2018_to_2020, year_pollution])

# Reset the index of the final result
df_combined_2018_to_2020 = df_combined_2018_to_2020.reset_index(drop=True)

# Display the resulting dataframe
print(df_combined_2018_to_2020)

      index    State  Year  Month   O3 Mean  O3 1st Max Value  \
0        45  Alabama  2018      3  0.032459          0.046000
1        46  Alabama  2018      4  0.038665          0.049333
2        47  Alabama  2018      5  0.031921          0.048613
3        48  Alabama  2018      6  0.026653          0.042759
4        49  Alabama  2018      7  0.031020          0.047452
...     ...      ...   ...    ...       ...               ...
1531   8788  Wyoming  2020      8  0.043341          0.049600
1532   8789  Wyoming  2020      9  0.042220          0.049000
1533   8790  Wyoming  2020     10  0.036024          0.042517
1534   8791  Wyoming  2020     11  0.033542          0.039200
1535   8792  Wyoming  2020     12  0.036069          0.039806

      O3 1st Max Hour     O3 AQI   CO Mean  CO 1st Max Value  ...  \
0            9.400000  42.600000  0.193611          0.260000  ...
1           10.700000  48.466667  0.194547          0.296667  ...
2            9.806452  49.967742  0.237279          0.341935  ...
3            9.448276  45.931034  0.205339          0.272414  ...
4            9.419355  46.258065  0.201449          0.261290  ...
...               ...        ...       ...               ...  ...
1531        11.200000  47.200000  0.134654          0.160000  ...
1532         8.925926  47.629630  0.153333          0.200000  ...
1533         9.896552  39.724138  0.121264          0.193103  ...
1534         9.566667  36.233333  0.096906          0.123333  ...
1535         9.709677  36.838710  0.079032          0.100000  ...

      Renewable energy share in the total final energy consumption (%)  \
0                                              0.019387
1                                              0.019387
2                                              0.019387
3                                              0.019387
4                                              0.019387
...                                                 ...
1531                                           0.021751
1532                                           0.021751
1533                                           0.021751
1534                                           0.021751
1535                                           0.021751

      Electricity from fossil fuels (TWh)  Electricity from nuclear (TWh)  \
0                                5.098276                        1.546130
1                                5.098276                        1.546130
2                                5.098276                        1.546130
3                                5.098276                        1.546130
4                                5.098276                        1.546130
...                                   ...                             ...
1531                             4.893159                        1.589296
1532                             4.893159                        1.589296
1533                             4.893159                        1.589296
1534                             4.893159                        1.589296
1535                             4.893159                        1.589296

      Electricity from renewables (TWh)  \
0                              1.404540
1                              1.404540
2                              1.404540
3                              1.404540
4                              1.404540
...                                 ...
1531                           1.652716
1532                           1.652716
1533                           1.652716
1534                           1.652716
1535                           1.652716

      Low-carbon electricity (% electricity)  \
0                                   0.070228
1                                   0.070228
2                                   0.070228
3                                   0.070228
4                                   0.070228
...                                      ...
1531                                0.080185
1532                                0.080185
1533                                0.080185
1534                                0.080185
1535                                0.080185

      Primary energy consumption per capita (kWh/person)  \
0                                            154.374215
1                                            154.374215
2                                            154.374215
3                                            154.374215
4                                            154.374215
...                                                 ...
1531                                         147.356419
1532                                         147.356419
1533                                         147.356419
1534                                         147.356419
1535                                         147.356419

      Energy intensity level of primary energy (MJ/$2017 PPP GDP)  \
0                                              0.008831
1                                              0.008831
2                                              0.008831
3                                              0.008831
4                                              0.008831
...                                                 ...
1531                                           0.009879
1532                                           0.009879
1533                                           0.009879
1534                                           0.009879
1535                                           0.009879

      Renewables (% equivalent primary energy)  gdp_growth  gdp_per_capita
0                                     0.017174     0.00574      120.813062
1                                     0.017174     0.00574      120.813062
2                                     0.017174     0.00574      120.813062
3                                     0.017174     0.00574      120.813062
4                                     0.017174     0.00574      120.813062
...                                        ...         ...             ...
1531                                  0.021192    -0.00685      127.954615
1532                                  0.021192    -0.00685      127.954615
1533                                  0.021192    -0.00685      127.954615
1534                                  0.021192    -0.00685      127.954615
1535                                  0.021192    -0.00685      127.954615

[1536 rows x 30 columns]

In [46]:
# Reset the index of the final result
df_2018_to_2020_pollution_renewables = df_combined_2018_to_2020

# Display the resulting dataframe
df_2018_to_2020_pollution_renewables = df_2018_to_2020_pollution_renewables.drop(columns='index').reset_index(drop=True)

In [47]:
df_2018_to_2020_pollution_renewables

,State,Year,Month,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,...,Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita
0,Alabama,2018,3,0.032459,0.046000,9.400000,42.600000,0.193611,0.260000,11.400000,...,0.019387,5.098276,1.546130,1.404540,0.070228,154.374215,0.008831,0.017174,0.00574,120.813062
1,Alabama,2018,4,0.038665,0.049333,10.700000,48.466667,0.194547,0.296667,6.000000,...,0.019387,5.098276,1.546130,1.404540,0.070228,154.374215,0.008831,0.017174,0.00574,120.813062
2,Alabama,2018,5,0.031921,0.048613,9.806452,49.967742,0.237279,0.341935,4.419355,...,0.019387,5.098276,1.546130,1.404540,0.070228,154.374215,0.008831,0.017174,0.00574,120.813062
3,Alabama,2018,6,0.026653,0.042759,9.448276,45.931034,0.205339,0.272414,3.344828,...,0.019387,5.098276,1.546130,1.404540,0.070228,154.374215,0.008831,0.017174,0.00574,120.813062
4,Alabama,2018,7,0.031020,0.047452,9.419355,46.258065,0.201449,0.261290,4.000000,...,0.019387,5.098276,1.546130,1.404540,0.070228,154.374215,0.008831,0.017174,0.00574,120.813062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531,Wyoming,2020,8,0.043341,0.049600,11.200000,47.200000,0.134654,0.160000,1.000000,...,0.021751,4.893159,1.589296,1.652716,0.080185,147.356419,0.009879,0.021192,-0.00685,127.954615
1532,Wyoming,2020,9,0.042220,0.049000,8.925926,47.629630,0.153333,0.200000,2.148148,...,0.021751,4.893159,1.589296,1.652716,0.080185,147.356419,0.009879,0.021192,-0.00685,127.954615
1533,Wyoming,2020,10,0.036024,0.042517,9.896552,39.724138,0.121264,0.193103,3.551724,...,0.021751,4.893159,1.589296,1.652716,0.080185,147.356419,0.009879,0.021192,-0.00685,127.954615
1534,Wyoming,2020,11,0.033542,0.039200,9.566667,36.233333,0.096906,0.123333,3.333333,...,0.021751,4.893159,1.589296,1.652716,0.080185,147.356419,0.009879,0.021192,-0.00685,127.954615
1535,Wyoming,2020,12,0.036069,0.039806,9.709677,36.838710,0.079032,0.100000,2.161290,...,0.021751,4.893159,1.589296,1.652716,0.080185,147.356419,0.009879,0.021192,-0.00685,127.954615

In [48]:
df_2000_to_2017_pollution_renewables.shape

(6063, 29)

In [49]:
df_2018_to_2020_pollution_renewables.shape

(1536, 29)

In [50]:
# Uncomment following to export
df_2000_to_2017_pollution_renewables.to_csv('../data/df_2000_to_2017_pollution_renewables.csv', index=False)

In [51]:
# Uncomment following to export
df_2018_to_2020_pollution_renewables.to_csv('../data/df_2018_to_2020_pollution_renewables.csv', index=False)

In [52]:
#df.to_csv('out.csv', index=False) - Uncomment following to export
# df_2000_2017.to_csv('df_2000_2017_train_groupbyed.csv', index=False)

In [53]:
#df.to_csv('out.csv', index=False) - Uncomment following to export
# df_2018_2023.to_csv('Pollution_2018_2023_val_test_set_groupbyed.csv', index=False)

#### New Try

In [80]:
# import tabula
# pdf_path = "../data/seds2000table_pg1.pdf"

# dfs = tabula.read_pdf(pdf_path, pages=3, stream=True)
# # read_pdf returns list of DataFrames
# print(len(dfs))
# dfs

7

[  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5   Sources  \
 0        NaN        NaN        NaN        NaN        NaN        NaN       NaN
 1        NaN        NaN        NaN        NaN        NaN    Nuclear    Hydro-
 2        NaN      Total        NaN    Natural        NaN   Electric  electric
 3      State   Energy b       Coal      Gas c  Petroleum      Power   Power d

   Unnamed: 6 Unnamed: 7            Unnamed: 8   Unnamed: 9  \
 0        NaN        NaN                   NaN          NaN
 1       Wood        NaN        Net Interstate          NaN
 2        and        NaN               Flow of          NaN
 3      Waste    Other e  Electricity/Losses f  Residential

          End-Use Sectors a     Unnamed: 10  Unnamed: 11
 0                      NaN             NaN          0.0
 1                      NaN             NaN          NaN
 2                      NaN             NaN          0.0
 3  Commercial Industrial b  Transportation          NaN  ,
   Alabama  1,977.3  900.0  351.1  581.0  327.1  59.3  194.1  0.2  -435.5  \
 0  Alaska    627.3   21.7  333.6  259.7    0.0  10.2    2.0  0.1     0.0

    339.2  219.3  936.0  482.8 Unnamed: 0
 0   42.3   62.7  310.2  212.2          S  ,
     Arizona  1,215.8  432.8  207.4  506.3  316.8  88.5  12.0  3.9  -351.9  \
 0  Arkansas  1,083.7  267.6  258.5  393.9  121.5  24.2  72.8  1.0   -55.8

    283.2  263.2  206.3  463.2 Unnamed: 0
 0  194.1  126.1  465.6  297.9          U  ,
   California  8,518.7   70.0  2,273.2  3,557.7  366.8  436.3  157.3  319.9  \
 0   Colorado  1,199.9  387.9    348.6    455.0    0.0   15.4   10.5    0.8

    1,335.7  1,317.5  1,188.8  2,949.7  3,062.7 Unnamed: 0
 0    -18.2    266.9    247.3    315.5    370.3          M  ,
   Connecticut  863.0  36.2  129.9  376.0  170.7  15.6  44.3  0.3  84.3  243.0  \
 0    Delaware  302.6  50.1   54.0  138.7    0.0   0.0   2.3  0.1  57.3   54.2

    190.5  200.0  229.5 Unnamed: 0
 0   48.1  127.5   72.8          M  ,
      Dist. of Col.     166.2       0.2      34.3      33.8      0.0    0.0.1  \
 0          Florida   3,943.8     760.5     560.5   1,970.7    336.8      0.9
 1          Georgia   2,769.9     819.6     407.7   1,039.8    338.7     23.7
 2           Hawaii     264.8      17.7       3.0     222.3      0.0      1.1
 3            Idaho     511.1      13.7      72.8     174.6      0.0    112.7
 4         Illinois   4,417.9   1,027.2   1,042.6   1,327.1    932.7      1.5
 5          Indiana   2,777.6   1,595.1     590.5     910.0      0.0      6.0
 6             Iowa   1,099.3     445.9     234.0     416.8     46.4      9.3
 7           Kansas   1,035.7     362.8     323.7     407.3     94.5      0.2
 8         Kentucky   1,868.2   1,001.8     233.5     713.2      0.0     23.7
 9        Louisiana   3,965.2     253.2   1,604.7   1,680.8    164.7      5.4
 10           Maine     561.2      10.0       9.2     250.5      0.0     78.2
 11        Maryland   1,520.1     312.1     217.1     553.4    144.2     17.7
 12   Massachusetts   1,722.8     114.7     349.4     676.7     57.5     15.3
 13        Michigan   3,121.9     779.3     950.2   1,062.0    196.9     12.5
 14       Minnesota   1,688.0     373.8     359.7     680.3    135.2     63.6
 15     Mississippi   1,143.8     147.5     294.3     468.7    111.5      0.0
 16        Missouri   1,659.2     688.9     289.7     692.5    104.2      4.2
 17         Montana     594.5     176.8      68.1     168.3      0.0     98.4
 18        Nebraska     583.5     206.9     125.4     226.1     90.0     15.4
 19          Nevada     632.8     199.3     187.8     230.1      0.0     24.8
 20   New Hampshire     329.1      44.0      22.1     181.3     82.6     24.8
 21      New Jersey   2,706.6     114.7     614.3   1,261.7    298.0     -1.3
 22      New Mexico     620.7     305.5     227.1     250.7      0.0      2.3
 23        New York   4,620.0     331.4   1,291.9   1,698.8    328.6    314.7
 24  North Carolina   2,501.9     786.1     236.0     975.7    408.1     33.1
 25    North Dakota     365.4     424.6      58.6     120.1      0.0     23.2
 26            Ohio   4,001.8   1,438.2     916.7   1,330.9    175.0      5.9
 27        Oklahoma   1,400.5     381.1     538.8     521.5      0.0     21.9
 28          Oregon   1,079.7      38.7     230.8     377.9      0.0    390.0
 29    Pennsylvania   4,779.9   1,507.0     727.7   1,416.2    769.4     19.2
 30    Rhode Island     250.4       0.1      81.3      97.2      0.0     10.3
 31  South Carolina   1,477.1     432.2     159.6     481.1    530.7      4.6
 32    South Dakota     246.0      50.6      40.2     118.5      0.0     58.8
 33       Tennessee   2,025.9     705.1     276.2     720.1    269.3     57.8
 34           Texas  11,588.6   1,548.2   4,253.4   5,501.3    391.7     12.1
 35            Utah     718.2     403.1     172.7     275.3      0.0      7.7
 36         Vermont     164.6       (s)      10.6      87.5     47.4     38.1
 37        Virginia   2,303.6     504.8     281.6     903.7    295.4     -6.4
 38      Washington   2,173.8     106.2     296.7     867.5     89.7    794.6
 39   West Virginia     744.0     980.0     154.2     218.2      0.0     11.7
 40       Wisconsin   1,799.7     499.2     396.0     666.0    120.1     22.7
 41         Wyoming     417.1     506.2     101.6     157.7      0.0     10.3
 42   United States  98,216.2  22,580.4  23,002.6  38,401.9  7,862.3  3,020.2

         1.3    (s)   96.6      33.3     102.4       3.1      27.4 Unnamed: 0
 0     160.6   32.0  121.9     988.6     794.7     736.0   1,424.5          A
 1     197.2    0.3  -57.1     588.6     429.1     883.0     869.2        NaN
 2      13.8    7.1    0.0      23.7      25.7      88.7     126.7          R
 3      28.6    1.3  107.0      95.3      87.9     201.0     127.0        NaN
 4      32.3    0.7   53.8     884.8     718.7   1,839.4     975.0          I
 5      19.8    1.1 -344.8     462.9     306.2   1,341.8     666.6        NaN
 6      16.2    5.4  -74.6     213.4     153.7     458.2     274.0          E
 7       6.9    0.3 -159.9     201.4     168.4     384.4     281.5        NaN
 8      11.6    0.6 -116.2     305.5     214.1     902.5     446.1          S
 9     139.9    0.5  116.0     322.1     237.5   2,505.1     900.4        NaN
 10    142.2    0.1   59.3      91.6      60.7     287.1     121.7        NaN
 11     35.8    0.2  239.6     353.1     324.6     435.9     406.5        NaN
 12     59.2    0.4  443.4     417.9     328.8     520.8     455.4        NaN
 13     90.0    1.4   41.6     733.9     552.7   1,013.2     822.1        NaN
 14     60.4    7.9  -15.2     345.7     221.2     603.8     517.3        NaN
 15     77.3    0.3   44.2     205.6     141.3     431.9     365.0        NaN
 16     13.2    0.2 -133.7     425.2     330.2     342.7     561.1        NaN
 17     16.4    0.3   66.5      63.3      54.0     369.4     107.9        NaN
 18      4.0    0.3  -84.1     129.2     113.8     165.9     174.7        NaN
 19      4.1   30.4  -43.8     125.1      95.5     206.5     205.6        NaN
 20     25.9    (s)  -57.5      78.9      58.5      89.5     102.3        NaN
 21     39.5    0.7  378.8     530.0     506.1     743.9     926.6        NaN
 22      4.6    1.1 -170.6      91.9     107.7     192.3     228.9        NaN
 23    173.5    1.0  461.5   1,131.9   1,253.0   1,251.5     983.6        NaN
 24     95.1    0.3  -32.6     566.8     434.0     792.1     709.1        NaN
 25      2.4    0.2 -262.2      53.8      43.4     186.8      81.4        NaN
 26     76.8    0.9   57.4     844.1     622.3   1,541.0     994.4        NaN
 27     17.5    0.1  -80.4     262.1     195.2     513.8     429.4        NaN
 28     42.1    2.1   -2.3     225.4     181.6     354.2     318.5        NaN
 29    101.9    1.1  237.5     854.1     608.9   2,305.2   1,011.7        NaN
 30      4.2    (s)   51.5      66.0      50.9      68.0      65.5        NaN
 31     79.5    0.2 -210.8     285.3     200.9     607.6     383.2        NaN
 32      2.0    0.4  -24.7      53.8      39.9      66.7      85.6        NaN
 33     55.3    0.1  -58.0     434.0     316.4     687.0     588.6        NaN
 34     90.1    6.2 -213.1   1,333.2   1,161.0   6,483.1   2,611.4        NaN
 35      5.7    3.8 -150.1     125.3     119.0     250.6     223.3        NaN
 36      9.9    0.2  -32.1      43.7      28.5      40.3      52.2        NaN
 37    104.9    0.5  219.2     497.0     454.5     658.0     694.2        NaN
 38     92.9    0.6  -88.5     410.4     321.2     814.8     627.4        NaN
 39      6.4    (s) -626.7     135.8     100.0     321.2     187.0        NaN
 40    103.9    0.4   -9.8     368.8     276.8     730.9     423.3        NaN
 41      1.2    3.2 -363.0      35.6      44.0     223.1     114.4        NaN
 42  2,761.4  440.3    0.0  18,178.4  14,931.0  38,217.4  26,889.4        NaN  ,
   a End-use sector data include electricity sales and associated electrical system energy losses.  \
 0  b U.S. total energy and U.S. industrial sector...
 1  allocated to the States.  State and U.S. total...
 2  from nonrenewable energy sources not shown in ...
 3                                               TN8.

    Unnamed: 0 net imports of electricity generated from geothermal energy.
 0         NaN  f Net interstate flow of electricity is the di...
 1         NaN  within a State (including associated losses) a...
 2         NaN  positive number indicates that more electricit...
 3         NaN  of the State during the year; conversely, a ne...            ]

In [82]:
# # Concatenate the list of DataFrames into a single DataFrame
# result_df = pd.concat(dfs, ignore_index=True)

# # Drop any rows where all values are NaN
# # result_df = result_df.dropna(how='all')

# # Display the resulting DataFrame
# result_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Sources,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,0.0.1,1.3,(s),96.6,33.3,102.4,3.1,27.4,a End-use sector data include electricity sales and associated electrical system energy losses.,net imports of electricity generated from geothermal energy.
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Nuclear,Hydro-,Wood,NaN,Net Interstate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Total,NaN,Natural,NaN,Electric,electric,and,NaN,Flow of,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,State,Energy b,Coal,Gas c,Petroleum,Power,Power d,Waste,Other e,Electricity/Losses f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.9,160.6,32.0,121.9,988.6,794.7,736.0,"1,424.5",NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.7,197.2,0.3,-57.1,588.6,429.1,883.0,869.2,NaN,NaN
10,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,13.8,7.1,0.0,23.7,25.7,88.7,126.7,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,112.7,28.6,1.3,107.0,95.3,87.9,201.0,127.0,NaN,NaN
12,I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.5,32.3,0.7,53.8,884.8,718.7,"1,839.4",975.0,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,19.8,1.1,-344.8,462.9,306.2,"1,341.8",666.6,NaN,NaN
14,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.3,16.2,5.4,-74.6,213.4,153.7,458.2,274.0,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2,6.9,0.3,-159.9,201.4,168.4,384.4,281.5,NaN,NaN
16,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.7,11.6,0.6,-116.2,305.5,214.1,902.5,446.1,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.4,139.9,0.5,116.0,322.1,237.5,"2,505.1",900.4,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,78.2,142.2,0.1,59.3,91.6,60.7,287.1,121.7,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.7,35.8,0.2,239.6,353.1,324.6,435.9,406.5,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.3,59.2,0.4,443.4,417.9,328.8,520.8,455.4,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.5,90.0,1.4,41.6,733.9,552.7,"1,013.2",822.1,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63.6,60.4,7.9,-15.2,345.7,221.2,603.8,517.3,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,77.3,0.3,44.2,205.6,141.3,431.9,365.0,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.2,13.2,0.2,-133.7,425.2,330.2,342.7,561.1,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.4,16.4,0.3,66.5,63.3,54.0,369.4,107.9,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.4,4.0,0.3,-84.1,129.2,113.8,165.9,174.7,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.8,4.1,30.4,-43.8,125.1,95.5,206.5,205.6,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.8,25.9,(s),-57.5,78.9,58.5,89.5,102.3,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.3,39.5,0.7,378.8,530.0,506.1,743.9,926.6,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.3,4.6,1.1,-170.6,91.9,107.7,192.3,228.9,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,314.7,173.5,1.0,461.5,"1,131.9","1,253.0","1,251.5",983.6,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33.1,95.1,0.3,-32.6,566.8,434.0,792.1,709.1,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.2,2.4,0.2,-262.2,53.8,43.4,186.8,81.4,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.9,76.8,0.9,57.4,844.1,622.3,"1,541.0",994.4,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.9,17.5,0.1,-80.4,262.1,195.2,513.8,429.4,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,390.0,42.1,2.1,-2.3,225.4,181.6,354.2,318.5,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.2,101.9,1.1,237.5,854.1,608.9,"2,305.2","1,011.7",NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.3,4.2,(s),51.5,66.0,50.9,68.0,65.5,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.6,79.5,0.2,-210.8,285.3,200.9,607.6,383.2,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,58.8,2.0,0.4,-24.7,53.8,39.9,66.7,85.6,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57.8,55.3,0.1,-58.0,434.0,316.4,687.0,588.6,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.1,90.1,6.2,-213.1,"1,333.2","1,161.0","6,483.1","2,611.4",NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.7,5.7,3.8,-150.1,125.3,119.0,250.6,223.3,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.1,9.9,0.2,-32.1,43.7,28.5,40.3,52.2,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-6.4,104.9,0.5,219.2,497.0,454.5,658.0,694.2,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,794.6,92.9,0.6,-88.5,410.4,321.2,814.8,627.4,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.7,6.4,(s),-626.7,135.8,100.0,321.2,187.0,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.7,103.9,0.4,-9.8,368.8,276.8,730.9,423.3,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.3,1.2,3.2,-363.0,35.6,44.0,223.1,114.4,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"3,020.2","2,761.4",440.3,0.0,"18,178.4","14,931.0","38,217.4","26,889.4",NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b U.S. total energy and U.S. industrial sector...,f Net interstate flow of electricity is the di...
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,allocated to the States. State and U.S. total...,within a State (including associated losses) a...
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,from nonrenewable energy sources not shown in ...,positive number indicates that more electricit...
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TN8.,"of the State during the year; conversely, a ne..."

In [123]:
# dfs = tabula.read_pdf(pdf_path, columns=[1,2, 147, 256, 310, 375, 431, 504], guess=False, pages=1)
# df = dfs[0].drop(["Unnamed: 0"], axis=1)
# df

In [240]:
CO2Emissions_State_1970to2021_noheader = pd.read_csv('../data/CO2Emissions_State_1970to2021_noheader.csv')

In [241]:
CO2Emissions_State_1970to2021_noheader

,State,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2016,2017,2018,2019,2020,2021,Percent,Absolute,Percent.1,Absolute.1
0,Alabama,29.7,28.2,29.7,30.6,30.0,29.3,28.9,29.5,27.8,...,23.4,22.3,23.0,21.6,19.6,21.5,-27.84%,-8.3,9.70%,1.9
1,Alaska,37.3,40.0,41.4,37.7,37.5,38.6,39.8,44.5,48.1,...,45.0,45.5,46.8,46.7,49.1,53.0,41.86%,15.6,7.90%,3.9
2,Arizona,13.9,14.2,15.0,16.2,16.5,16.7,18.7,20.8,19.6,...,13.1,12.8,13.1,12.7,11.2,11.4,-17.78%,-2.5,2.37%,0.3
3,Arkansas,18.7,17.8,18.4,19.8,18.6,16.8,17.9,18.9,18.9,...,20.8,21.4,23.5,21.5,18.2,20.5,9.39%,1.8,12.76%,2.3
4,California,14.7,15.0,15.2,15.8,14.4,14.5,14.9,15.9,15.1,...,9.0,9.1,9.1,9.1,7.7,8.3,-43.74%,-6.4,7.63%,0.6
5,Colorado,19.4,18.9,19.7,20.5,19.9,20.0,20.9,21.6,21.1,...,16.0,15.8,15.8,15.9,13.8,14.7,-24.07%,-4.7,6.37%,0.9
6,Connecticut,15.7,15.0,15.4,15.8,14.8,13.5,14.1,14.0,14.2,...,9.5,9.5,10.5,10.3,9.4,10.1,-35.82%,-5.6,7.53%,0.7
7,Delaware,29.2,28.2,27.9,29.8,28.7,26.5,27.4,27.3,27.2,...,15.2,14.4,14.5,13.9,12.6,12.9,-55.77%,-16.3,2.58%,0.3
8,District of Columbia,18.0,15.8,15.2,16.2,13.7,11.2,11.1,11.7,11.2,...,4.0,3.7,4.1,4.0,3.6,3.8,-79.12%,-14.3,5.31%,0.2
9,Florida,15.2,15.6,16.2,16.7,15.0,14.8,15.5,15.6,16.1,...,11.6,11.4,11.4,10.9,9.6,10.4,-31.96%,-4.9,7.76%,0.7
10,Georgia,16.0,16.9,18.0,19.0,18.3,18.1,18.7,20.1,20.1,...,14.0,13.6,13.5,12.8,10.9,11.5,-27.91%,-4.5,5.88%,0.6
11,Hawaii,18.0,18.8,18.7,18.7,17.4,17.2,17.3,18.2,18.2,...,13.9,14.3,14.3,14.5,10.3,12.0,-33.42%,-6.0,16.54%,1.7
12,Idaho,14.3,15.0,15.3,15.3,14.9,15.8,15.1,14.6,14.6,...,10.9,10.9,10.9,11.2,10.5,10.8,-24.50%,-3.5,2.94%,0.3
13,Illinois,22.2,21.8,22.5,22.8,22.4,21.7,22.4,22.5,22.7,...,16.2,16.1,16.7,16.1,13.3,14.5,-34.63%,-7.7,9.14%,1.2
14,Indiana,33.1,32.2,34.7,35.3,33.9,33.4,33.7,34.3,33.9,...,27.4,26.4,28.2,26.2,22.7,24.4,-26.12%,-8.6,7.33%,1.7
15,Iowa,18.9,18.7,19.7,20.8,19.6,19.1,20.2,20.2,19.9,...,23.6,24.3,26.2,24.5,20.6,22.9,21.12%,4.0,11.16%,2.3
16,Kansas,22.7,23.5,24.9,25.2,25.3,25.2,26.3,26.7,29.0,...,21.5,20.3,21.6,20.8,19.7,20.3,-10.44%,-2.4,3.42%,0.7
17,Kentucky,26.7,26.8,28.2,28.0,27.9,26.3,28.6,28.4,28.5,...,28.6,26.2,27.5,25.6,22.4,24.7,-7.55%,-2.0,10.00%,2.2
18,Louisiana,39.5,39.5,41.3,44.6,45.1,41.1,46.2,51.0,52.2,...,40.4,41.4,41.8,41.8,39.4,40.8,3.29%,1.3,3.43%,1.3
19,Maine,16.9,20.3,21.4,20.4,17.7,15.0,17.1,17.2,15.9,...,12.1,11.5,11.0,10.7,9.9,10.5,-37.93%,-6.4,5.69%,0.6
20,Maryland,18.8,18.8,18.7,19.9,18.5,16.2,17.5,16.2,16.8,...,10.1,9.1,10.2,9.4,7.8,8.5,-54.81%,-10.3,9.29%,0.7
21,Massachusetts,17.5,17.4,18.0,17.9,16.4,15.9,16.8,16.6,16.3,...,9.4,9.4,9.3,9.2,7.5,8.0,-53.99%,-9.4,7.44%,0.6
22,Michigan,21.0,21.5,22.1,22.0,20.9,21.0,21.2,20.2,20.5,...,15.5,15.6,16.4,15.9,13.6,14.7,-29.91%,-6.3,8.36%,1.1
23,Minnesota,18.2,17.8,18.8,19.5,19.1,18.5,19.6,19.9,20.1,...,16.5,16.4,16.9,16.3,13.7,14.6,-19.87%,-3.6,6.08%,0.8
24,Mississippi,17.4,17.9,18.8,18.8,18.2,17.0,17.8,19.2,20.1,...,20.8,20.2,21.2,21.0,21.3,21.4,22.65%,3.9,0.12%,0.0
25,Missouri,18.5,18.8,19.9,20.9,20.4,21.0,22.2,22.9,22.7,...,19.5,20.4,20.4,19.1,17.7,19.0,2.57%,0.5,7.31%,1.3
26,Montana,20.6,20.9,21.8,23.4,22.5,22.5,25.7,26.8,27.2,...,29.9,29.6,29.4,30.2,24.2,25.8,25.29%,5.2,6.67%,1.6
27,Nebraska,18.5,18.3,19.4,19.7,18.9,18.6,20.1,20.0,19.7,...,25.4,25.0,27.2,26.1,23.7,24.0,29.97%,5.5,1.48%,0.4
28,Nevada,21.9,26.5,34.6,35.3,34.2,33.8,34.4,35.0,31.3,...,13.7,13.5,13.7,13.5,11.6,12.5,-42.65%,-9.3,7.87%,0.9
29,New Hampshire,17.3,17.5,18.0,17.0,15.4,15.2,16.2,16.2,15.2,...,10.3,10.0,10.5,10.2,9.0,9.6,-44.61%,-7.7,5.98%,0.5
30,New Jersey,18.0,17.2,17.4,17.9,16.3,14.4,16.0,15.4,15.1,...,11.9,11.2,11.8,11.3,9.0,9.6,-46.61%,-8.4,6.34%,0.6
31,New Mexico,34.2,35.3,36.8,36.2,35.9,33.8,35.3,34.3,32.4,...,23.3,23.7,21.9,23.3,21.3,21.7,-36.57%,-12.5,1.54%,0.3
32,New York,15.6,15.1,14.9,15.4,14.3,13.6,14.6,14.6,14.4,...,8.7,8.5,9.0,8.7,7.1,7.9,-49.61%,-7.7,10.18%,0.7
33,North Carolina,19.1,19.1,19.7,20.2,19.1,17.2,18.9,19.0,17.9,...,12.3,11.8,12.0,11.7,10.2,10.9,-42.68%,-8.1,7.22%,0.7
34,North Dakota,23.8,25.4,26.7,25.9,26.6,25.4,28.8,30.6,34.4,...,72.7,75.2,78.0,74.8,69.6,72.7,205.43%,48.9,4.48%,3.1
35,Ohio,25.8,25.1,26.5,27.1,27.1,26.4,27.6,27.3,27.3,...,17.6,17.6,17.9,16.8,15.7,16.5,-36.12%,-9.3,4.81%,0.8
36,Oklahoma,21.6,21.5,22.3,22.2,22.6,22.5,24.4,25.2,26.4,...,24.5,23.8,25.0,23.1,21.3,22.0,1.63%,0.4,3.40%,0.7
37,Oregon,12.2,12.6,13.4,13.2,12.0,11.5,11.2,11.2,11.8,...,9.2,9.4,9.5,9.9,8.8,9.1,-25.77%,-3.1,2.45%,0.2
38,Pennsylvania,26.0,25.5,26.4,27.4,25.7,24.5,25.9,25.5,25.5,...,17.0,16.8,17.2,17.1,14.9,16.4,-36.80%,-9.6,10.32%,1.5
39,Rhode Island,13.8,14.1,13.8,12.9,12.1,11.1,11.2,11.6,10.6,...,9.1,9.4,10.4,9.8,9.0,9.7,-29.70%,-4.1,8.20%,0.7
40,South Carolina,16.2,16.5,17.2,17.6,16.1,14.7,17.2,18.1,17.5,...,14.6,13.9,14.6,13.5,12.4,13.4,-17.81%,-2.9,7.80%,1.0
41,South Dakota,14.0,13.9,14.3,13.9,13.5,16.0,18.2,17.9,18.7,...,17.1,16.8,17.7,18.0,16.8,16.9,20.80%,2.9,0.46%,0.1
42,Tennessee,19.8,19.0,21.2,23.8,21.4,21.0,23.5,23.2,23.2,...,15.2,14.5,13.8,13.5,12.0,13.3,-32.79%,-6.5,10.56%,1.3
43,Texas,31.9,32.6,33.9,36.2,34.8,32.4,32.7,35.0,36.5,...,23.5,23.5,23.9,23.6,21.4,22.4,-29.73%,-9.5,5.03%,1.1
44,Utah,22.9,23.2,22.7,24.1,24.7,25.1,24.1,24.2,24.9,...,19.3,19.0,19.4,19.2,17.5,18.6,-18.78%,-4.3,6.37%,1.1
45,Vermont,12.4,12.1,12.5,12.7,11.2,10.8,12.1,11.9,11.6,...,9.5,9.3,9.4,9.6,8.4,8.6,-30.64%,-3.8,2.12%,0.2
46,Virginia,18.6,18.4,18.4,18.3,17.1,16.1,16.8,16.8,16.1,...,13.1,12.5,12.9,12.5,11.4,11.3,-39.14%,-7.3,-0.47%,-0.1
47,Washington,13.1,13.4,15.2,16.5,15.0,15.2,14.9,15.9,15.2,...,10.9,10.7,10.5,11.1,8.9,9.5,-27.31%,-3.6,7.67%,0.7
48,West Virginia,44.0,44.0,49.5,54.0,55.3,53.1,55.4,54.0,50.3,...,51.6,49.9,49.4,47.6,43.0,49.5,12.61%,5.5,15.25%,6.5
49,Wisconsin,19.9,19.0,18.7,18.9,18.1,17.6,18.3,18.8,19.1,...,16.6,17.0,17.4,16.3,14.8,15.7,-21.02%,-4.2,6.51%,1.0
50,Wyoming,55.7,55.3,62.4,66.9,65.3,66.3,77.7,87.9,85.7,...,104.7,108.3,110.3,101.9,96.2,94.3,69.38%,38.6,-2.02%,-1.9
51,Average all states,20.7,20.7,21.5,22.2,21.2,20.5,21.5,21.9,21.9,...,16.0,15.8,16.2,15.7,13.9,14.8,-28.67%,-5.9,6.72%,0.9
52,Source: U.S. Energy Information Administratio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [242]:
CO2Emissions_State_1970to2021_noheader_new = CO2Emissions_State_1970to2021_noheader.dropna(axis=1, how='all')

In [243]:
CO2Emissions_State_1970to2021_noheader_new

,State,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2016,2017,2018,2019,2020,2021,Percent,Absolute,Percent.1,Absolute.1
0,Alabama,29.7,28.2,29.7,30.6,30.0,29.3,28.9,29.5,27.8,...,23.4,22.3,23.0,21.6,19.6,21.5,-27.84%,-8.3,9.70%,1.9
1,Alaska,37.3,40.0,41.4,37.7,37.5,38.6,39.8,44.5,48.1,...,45.0,45.5,46.8,46.7,49.1,53.0,41.86%,15.6,7.90%,3.9
2,Arizona,13.9,14.2,15.0,16.2,16.5,16.7,18.7,20.8,19.6,...,13.1,12.8,13.1,12.7,11.2,11.4,-17.78%,-2.5,2.37%,0.3
3,Arkansas,18.7,17.8,18.4,19.8,18.6,16.8,17.9,18.9,18.9,...,20.8,21.4,23.5,21.5,18.2,20.5,9.39%,1.8,12.76%,2.3
4,California,14.7,15.0,15.2,15.8,14.4,14.5,14.9,15.9,15.1,...,9.0,9.1,9.1,9.1,7.7,8.3,-43.74%,-6.4,7.63%,0.6
5,Colorado,19.4,18.9,19.7,20.5,19.9,20.0,20.9,21.6,21.1,...,16.0,15.8,15.8,15.9,13.8,14.7,-24.07%,-4.7,6.37%,0.9
6,Connecticut,15.7,15.0,15.4,15.8,14.8,13.5,14.1,14.0,14.2,...,9.5,9.5,10.5,10.3,9.4,10.1,-35.82%,-5.6,7.53%,0.7
7,Delaware,29.2,28.2,27.9,29.8,28.7,26.5,27.4,27.3,27.2,...,15.2,14.4,14.5,13.9,12.6,12.9,-55.77%,-16.3,2.58%,0.3
8,District of Columbia,18.0,15.8,15.2,16.2,13.7,11.2,11.1,11.7,11.2,...,4.0,3.7,4.1,4.0,3.6,3.8,-79.12%,-14.3,5.31%,0.2
9,Florida,15.2,15.6,16.2,16.7,15.0,14.8,15.5,15.6,16.1,...,11.6,11.4,11.4,10.9,9.6,10.4,-31.96%,-4.9,7.76%,0.7
10,Georgia,16.0,16.9,18.0,19.0,18.3,18.1,18.7,20.1,20.1,...,14.0,13.6,13.5,12.8,10.9,11.5,-27.91%,-4.5,5.88%,0.6
11,Hawaii,18.0,18.8,18.7,18.7,17.4,17.2,17.3,18.2,18.2,...,13.9,14.3,14.3,14.5,10.3,12.0,-33.42%,-6.0,16.54%,1.7
12,Idaho,14.3,15.0,15.3,15.3,14.9,15.8,15.1,14.6,14.6,...,10.9,10.9,10.9,11.2,10.5,10.8,-24.50%,-3.5,2.94%,0.3
13,Illinois,22.2,21.8,22.5,22.8,22.4,21.7,22.4,22.5,22.7,...,16.2,16.1,16.7,16.1,13.3,14.5,-34.63%,-7.7,9.14%,1.2
14,Indiana,33.1,32.2,34.7,35.3,33.9,33.4,33.7,34.3,33.9,...,27.4,26.4,28.2,26.2,22.7,24.4,-26.12%,-8.6,7.33%,1.7
15,Iowa,18.9,18.7,19.7,20.8,19.6,19.1,20.2,20.2,19.9,...,23.6,24.3,26.2,24.5,20.6,22.9,21.12%,4.0,11.16%,2.3
16,Kansas,22.7,23.5,24.9,25.2,25.3,25.2,26.3,26.7,29.0,...,21.5,20.3,21.6,20.8,19.7,20.3,-10.44%,-2.4,3.42%,0.7
17,Kentucky,26.7,26.8,28.2,28.0,27.9,26.3,28.6,28.4,28.5,...,28.6,26.2,27.5,25.6,22.4,24.7,-7.55%,-2.0,10.00%,2.2
18,Louisiana,39.5,39.5,41.3,44.6,45.1,41.1,46.2,51.0,52.2,...,40.4,41.4,41.8,41.8,39.4,40.8,3.29%,1.3,3.43%,1.3
19,Maine,16.9,20.3,21.4,20.4,17.7,15.0,17.1,17.2,15.9,...,12.1,11.5,11.0,10.7,9.9,10.5,-37.93%,-6.4,5.69%,0.6
20,Maryland,18.8,18.8,18.7,19.9,18.5,16.2,17.5,16.2,16.8,...,10.1,9.1,10.2,9.4,7.8,8.5,-54.81%,-10.3,9.29%,0.7
21,Massachusetts,17.5,17.4,18.0,17.9,16.4,15.9,16.8,16.6,16.3,...,9.4,9.4,9.3,9.2,7.5,8.0,-53.99%,-9.4,7.44%,0.6
22,Michigan,21.0,21.5,22.1,22.0,20.9,21.0,21.2,20.2,20.5,...,15.5,15.6,16.4,15.9,13.6,14.7,-29.91%,-6.3,8.36%,1.1
23,Minnesota,18.2,17.8,18.8,19.5,19.1,18.5,19.6,19.9,20.1,...,16.5,16.4,16.9,16.3,13.7,14.6,-19.87%,-3.6,6.08%,0.8
24,Mississippi,17.4,17.9,18.8,18.8,18.2,17.0,17.8,19.2,20.1,...,20.8,20.2,21.2,21.0,21.3,21.4,22.65%,3.9,0.12%,0.0
25,Missouri,18.5,18.8,19.9,20.9,20.4,21.0,22.2,22.9,22.7,...,19.5,20.4,20.4,19.1,17.7,19.0,2.57%,0.5,7.31%,1.3
26,Montana,20.6,20.9,21.8,23.4,22.5,22.5,25.7,26.8,27.2,...,29.9,29.6,29.4,30.2,24.2,25.8,25.29%,5.2,6.67%,1.6
27,Nebraska,18.5,18.3,19.4,19.7,18.9,18.6,20.1,20.0,19.7,...,25.4,25.0,27.2,26.1,23.7,24.0,29.97%,5.5,1.48%,0.4
28,Nevada,21.9,26.5,34.6,35.3,34.2,33.8,34.4,35.0,31.3,...,13.7,13.5,13.7,13.5,11.6,12.5,-42.65%,-9.3,7.87%,0.9
29,New Hampshire,17.3,17.5,18.0,17.0,15.4,15.2,16.2,16.2,15.2,...,10.3,10.0,10.5,10.2,9.0,9.6,-44.61%,-7.7,5.98%,0.5
30,New Jersey,18.0,17.2,17.4,17.9,16.3,14.4,16.0,15.4,15.1,...,11.9,11.2,11.8,11.3,9.0,9.6,-46.61%,-8.4,6.34%,0.6
31,New Mexico,34.2,35.3,36.8,36.2,35.9,33.8,35.3,34.3,32.4,...,23.3,23.7,21.9,23.3,21.3,21.7,-36.57%,-12.5,1.54%,0.3
32,New York,15.6,15.1,14.9,15.4,14.3,13.6,14.6,14.6,14.4,...,8.7,8.5,9.0,8.7,7.1,7.9,-49.61%,-7.7,10.18%,0.7
33,North Carolina,19.1,19.1,19.7,20.2,19.1,17.2,18.9,19.0,17.9,...,12.3,11.8,12.0,11.7,10.2,10.9,-42.68%,-8.1,7.22%,0.7
34,North Dakota,23.8,25.4,26.7,25.9,26.6,25.4,28.8,30.6,34.4,...,72.7,75.2,78.0,74.8,69.6,72.7,205.43%,48.9,4.48%,3.1
35,Ohio,25.8,25.1,26.5,27.1,27.1,26.4,27.6,27.3,27.3,...,17.6,17.6,17.9,16.8,15.7,16.5,-36.12%,-9.3,4.81%,0.8
36,Oklahoma,21.6,21.5,22.3,22.2,22.6,22.5,24.4,25.2,26.4,...,24.5,23.8,25.0,23.1,21.3,22.0,1.63%,0.4,3.40%,0.7
37,Oregon,12.2,12.6,13.4,13.2,12.0,11.5,11.2,11.2,11.8,...,9.2,9.4,9.5,9.9,8.8,9.1,-25.77%,-3.1,2.45%,0.2
38,Pennsylvania,26.0,25.5,26.4,27.4,25.7,24.5,25.9,25.5,25.5,...,17.0,16.8,17.2,17.1,14.9,16.4,-36.80%,-9.6,10.32%,1.5
39,Rhode Island,13.8,14.1,13.8,12.9,12.1,11.1,11.2,11.6,10.6,...,9.1,9.4,10.4,9.8,9.0,9.7,-29.70%,-4.1,8.20%,0.7
40,South Carolina,16.2,16.5,17.2,17.6,16.1,14.7,17.2,18.1,17.5,...,14.6,13.9,14.6,13.5,12.4,13.4,-17.81%,-2.9,7.80%,1.0
41,South Dakota,14.0,13.9,14.3,13.9,13.5,16.0,18.2,17.9,18.7,...,17.1,16.8,17.7,18.0,16.8,16.9,20.80%,2.9,0.46%,0.1
42,Tennessee,19.8,19.0,21.2,23.8,21.4,21.0,23.5,23.2,23.2,...,15.2,14.5,13.8,13.5,12.0,13.3,-32.79%,-6.5,10.56%,1.3
43,Texas,31.9,32.6,33.9,36.2,34.8,32.4,32.7,35.0,36.5,...,23.5,23.5,23.9,23.6,21.4,22.4,-29.73%,-9.5,5.03%,1.1
44,Utah,22.9,23.2,22.7,24.1,24.7,25.1,24.1,24.2,24.9,...,19.3,19.0,19.4,19.2,17.5,18.6,-18.78%,-4.3,6.37%,1.1
45,Vermont,12.4,12.1,12.5,12.7,11.2,10.8,12.1,11.9,11.6,...,9.5,9.3,9.4,9.6,8.4,8.6,-30.64%,-3.8,2.12%,0.2
46,Virginia,18.6,18.4,18.4,18.3,17.1,16.1,16.8,16.8,16.1,...,13.1,12.5,12.9,12.5,11.4,11.3,-39.14%,-7.3,-0.47%,-0.1
47,Washington,13.1,13.4,15.2,16.5,15.0,15.2,14.9,15.9,15.2,...,10.9,10.7,10.5,11.1,8.9,9.5,-27.31%,-3.6,7.67%,0.7
48,West Virginia,44.0,44.0,49.5,54.0,55.3,53.1,55.4,54.0,50.3,...,51.6,49.9,49.4,47.6,43.0,49.5,12.61%,5.5,15.25%,6.5
49,Wisconsin,19.9,19.0,18.7,18.9,18.1,17.6,18.3,18.8,19.1,...,16.6,17.0,17.4,16.3,14.8,15.7,-21.02%,-4.2,6.51%,1.0
50,Wyoming,55.7,55.3,62.4,66.9,65.3,66.3,77.7,87.9,85.7,...,104.7,108.3,110.3,101.9,96.2,94.3,69.38%,38.6,-2.02%,-1.9
51,Average all states,20.7,20.7,21.5,22.2,21.2,20.5,21.5,21.9,21.9,...,16.0,15.8,16.2,15.7,13.9,14.8,-28.67%,-5.9,6.72%,0.9
52,Source: U.S. Energy Information Administratio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [244]:
CO2Emissions_State_1970to2021_noheader_newdrop = CO2Emissions_State_1970to2021_noheader_new.iloc[:-6, :]

In [245]:
CO2Emissions_State_1970to2021_noheader_newdrop

,State,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2016,2017,2018,2019,2020,2021,Percent,Absolute,Percent.1,Absolute.1
0,Alabama,29.7,28.2,29.7,30.6,30.0,29.3,28.9,29.5,27.8,...,23.4,22.3,23.0,21.6,19.6,21.5,-27.84%,-8.3,9.70%,1.9
1,Alaska,37.3,40.0,41.4,37.7,37.5,38.6,39.8,44.5,48.1,...,45.0,45.5,46.8,46.7,49.1,53.0,41.86%,15.6,7.90%,3.9
2,Arizona,13.9,14.2,15.0,16.2,16.5,16.7,18.7,20.8,19.6,...,13.1,12.8,13.1,12.7,11.2,11.4,-17.78%,-2.5,2.37%,0.3
3,Arkansas,18.7,17.8,18.4,19.8,18.6,16.8,17.9,18.9,18.9,...,20.8,21.4,23.5,21.5,18.2,20.5,9.39%,1.8,12.76%,2.3
4,California,14.7,15.0,15.2,15.8,14.4,14.5,14.9,15.9,15.1,...,9.0,9.1,9.1,9.1,7.7,8.3,-43.74%,-6.4,7.63%,0.6
5,Colorado,19.4,18.9,19.7,20.5,19.9,20.0,20.9,21.6,21.1,...,16.0,15.8,15.8,15.9,13.8,14.7,-24.07%,-4.7,6.37%,0.9
6,Connecticut,15.7,15.0,15.4,15.8,14.8,13.5,14.1,14.0,14.2,...,9.5,9.5,10.5,10.3,9.4,10.1,-35.82%,-5.6,7.53%,0.7
7,Delaware,29.2,28.2,27.9,29.8,28.7,26.5,27.4,27.3,27.2,...,15.2,14.4,14.5,13.9,12.6,12.9,-55.77%,-16.3,2.58%,0.3
8,District of Columbia,18.0,15.8,15.2,16.2,13.7,11.2,11.1,11.7,11.2,...,4.0,3.7,4.1,4.0,3.6,3.8,-79.12%,-14.3,5.31%,0.2
9,Florida,15.2,15.6,16.2,16.7,15.0,14.8,15.5,15.6,16.1,...,11.6,11.4,11.4,10.9,9.6,10.4,-31.96%,-4.9,7.76%,0.7
10,Georgia,16.0,16.9,18.0,19.0,18.3,18.1,18.7,20.1,20.1,...,14.0,13.6,13.5,12.8,10.9,11.5,-27.91%,-4.5,5.88%,0.6
11,Hawaii,18.0,18.8,18.7,18.7,17.4,17.2,17.3,18.2,18.2,...,13.9,14.3,14.3,14.5,10.3,12.0,-33.42%,-6.0,16.54%,1.7
12,Idaho,14.3,15.0,15.3,15.3,14.9,15.8,15.1,14.6,14.6,...,10.9,10.9,10.9,11.2,10.5,10.8,-24.50%,-3.5,2.94%,0.3
13,Illinois,22.2,21.8,22.5,22.8,22.4,21.7,22.4,22.5,22.7,...,16.2,16.1,16.7,16.1,13.3,14.5,-34.63%,-7.7,9.14%,1.2
14,Indiana,33.1,32.2,34.7,35.3,33.9,33.4,33.7,34.3,33.9,...,27.4,26.4,28.2,26.2,22.7,24.4,-26.12%,-8.6,7.33%,1.7
15,Iowa,18.9,18.7,19.7,20.8,19.6,19.1,20.2,20.2,19.9,...,23.6,24.3,26.2,24.5,20.6,22.9,21.12%,4.0,11.16%,2.3
16,Kansas,22.7,23.5,24.9,25.2,25.3,25.2,26.3,26.7,29.0,...,21.5,20.3,21.6,20.8,19.7,20.3,-10.44%,-2.4,3.42%,0.7
17,Kentucky,26.7,26.8,28.2,28.0,27.9,26.3,28.6,28.4,28.5,...,28.6,26.2,27.5,25.6,22.4,24.7,-7.55%,-2.0,10.00%,2.2
18,Louisiana,39.5,39.5,41.3,44.6,45.1,41.1,46.2,51.0,52.2,...,40.4,41.4,41.8,41.8,39.4,40.8,3.29%,1.3,3.43%,1.3
19,Maine,16.9,20.3,21.4,20.4,17.7,15.0,17.1,17.2,15.9,...,12.1,11.5,11.0,10.7,9.9,10.5,-37.93%,-6.4,5.69%,0.6
20,Maryland,18.8,18.8,18.7,19.9,18.5,16.2,17.5,16.2,16.8,...,10.1,9.1,10.2,9.4,7.8,8.5,-54.81%,-10.3,9.29%,0.7
21,Massachusetts,17.5,17.4,18.0,17.9,16.4,15.9,16.8,16.6,16.3,...,9.4,9.4,9.3,9.2,7.5,8.0,-53.99%,-9.4,7.44%,0.6
22,Michigan,21.0,21.5,22.1,22.0,20.9,21.0,21.2,20.2,20.5,...,15.5,15.6,16.4,15.9,13.6,14.7,-29.91%,-6.3,8.36%,1.1
23,Minnesota,18.2,17.8,18.8,19.5,19.1,18.5,19.6,19.9,20.1,...,16.5,16.4,16.9,16.3,13.7,14.6,-19.87%,-3.6,6.08%,0.8
24,Mississippi,17.4,17.9,18.8,18.8,18.2,17.0,17.8,19.2,20.1,...,20.8,20.2,21.2,21.0,21.3,21.4,22.65%,3.9,0.12%,0.0
25,Missouri,18.5,18.8,19.9,20.9,20.4,21.0,22.2,22.9,22.7,...,19.5,20.4,20.4,19.1,17.7,19.0,2.57%,0.5,7.31%,1.3
26,Montana,20.6,20.9,21.8,23.4,22.5,22.5,25.7,26.8,27.2,...,29.9,29.6,29.4,30.2,24.2,25.8,25.29%,5.2,6.67%,1.6
27,Nebraska,18.5,18.3,19.4,19.7,18.9,18.6,20.1,20.0,19.7,...,25.4,25.0,27.2,26.1,23.7,24.0,29.97%,5.5,1.48%,0.4
28,Nevada,21.9,26.5,34.6,35.3,34.2,33.8,34.4,35.0,31.3,...,13.7,13.5,13.7,13.5,11.6,12.5,-42.65%,-9.3,7.87%,0.9
29,New Hampshire,17.3,17.5,18.0,17.0,15.4,15.2,16.2,16.2,15.2,...,10.3,10.0,10.5,10.2,9.0,9.6,-44.61%,-7.7,5.98%,0.5
30,New Jersey,18.0,17.2,17.4,17.9,16.3,14.4,16.0,15.4,15.1,...,11.9,11.2,11.8,11.3,9.0,9.6,-46.61%,-8.4,6.34%,0.6
31,New Mexico,34.2,35.3,36.8,36.2,35.9,33.8,35.3,34.3,32.4,...,23.3,23.7,21.9,23.3,21.3,21.7,-36.57%,-12.5,1.54%,0.3
32,New York,15.6,15.1,14.9,15.4,14.3,13.6,14.6,14.6,14.4,...,8.7,8.5,9.0,8.7,7.1,7.9,-49.61%,-7.7,10.18%,0.7
33,North Carolina,19.1,19.1,19.7,20.2,19.1,17.2,18.9,19.0,17.9,...,12.3,11.8,12.0,11.7,10.2,10.9,-42.68%,-8.1,7.22%,0.7
34,North Dakota,23.8,25.4,26.7,25.9,26.6,25.4,28.8,30.6,34.4,...,72.7,75.2,78.0,74.8,69.6,72.7,205.43%,48.9,4.48%,3.1
35,Ohio,25.8,25.1,26.5,27.1,27.1,26.4,27.6,27.3,27.3,...,17.6,17.6,17.9,16.8,15.7,16.5,-36.12%,-9.3,4.81%,0.8
36,Oklahoma,21.6,21.5,22.3,22.2,22.6,22.5,24.4,25.2,26.4,...,24.5,23.8,25.0,23.1,21.3,22.0,1.63%,0.4,3.40%,0.7
37,Oregon,12.2,12.6,13.4,13.2,12.0,11.5,11.2,11.2,11.8,...,9.2,9.4,9.5,9.9,8.8,9.1,-25.77%,-3.1,2.45%,0.2
38,Pennsylvania,26.0,25.5,26.4,27.4,25.7,24.5,25.9,25.5,25.5,...,17.0,16.8,17.2,17.1,14.9,16.4,-36.80%,-9.6,10.32%,1.5
39,Rhode Island,13.8,14.1,13.8,12.9,12.1,11.1,11.2,11.6,10.6,...,9.1,9.4,10.4,9.8,9.0,9.7,-29.70%,-4.1,8.20%,0.7
40,South Carolina,16.2,16.5,17.2,17.6,16.1,14.7,17.2,18.1,17.5,...,14.6,13.9,14.6,13.5,12.4,13.4,-17.81%,-2.9,7.80%,1.0
41,South Dakota,14.0,13.9,14.3,13.9,13.5,16.0,18.2,17.9,18.7,...,17.1,16.8,17.7,18.0,16.8,16.9,20.80%,2.9,0.46%,0.1
42,Tennessee,19.8,19.0,21.2,23.8,21.4,21.0,23.5,23.2,23.2,...,15.2,14.5,13.8,13.5,12.0,13.3,-32.79%,-6.5,10.56%,1.3
43,Texas,31.9,32.6,33.9,36.2,34.8,32.4,32.7,35.0,36.5,...,23.5,23.5,23.9,23.6,21.4,22.4,-29.73%,-9.5,5.03%,1.1
44,Utah,22.9,23.2,22.7,24.1,24.7,25.1,24.1,24.2,24.9,...,19.3,19.0,19.4,19.2,17.5,18.6,-18.78%,-4.3,6.37%,1.1
45,Vermont,12.4,12.1,12.5,12.7,11.2,10.8,12.1,11.9,11.6,...,9.5,9.3,9.4,9.6,8.4,8.6,-30.64%,-3.8,2.12%,0.2
46,Virginia,18.6,18.4,18.4,18.3,17.1,16.1,16.8,16.8,16.1,...,13.1,12.5,12.9,12.5,11.4,11.3,-39.14%,-7.3,-0.47%,-0.1
47,Washington,13.1,13.4,15.2,16.5,15.0,15.2,14.9,15.9,15.2,...,10.9,10.7,10.5,11.1,8.9,9.5,-27.31%,-3.6,7.67%,0.7
48,West Virginia,44.0,44.0,49.5,54.0,55.3,53.1,55.4,54.0,50.3,...,51.6,49.9,49.4,47.6,43.0,49.5,12.61%,5.5,15.25%,6.5
49,Wisconsin,19.9,19.0,18.7,18.9,18.1,17.6,18.3,18.8,19.1,...,16.6,17.0,17.4,16.3,14.8,15.7,-21.02%,-4.2,6.51%,1.0
50,Wyoming,55.7,55.3,62.4,66.9,65.3,66.3,77.7,87.9,85.7,...,104.7,108.3,110.3,101.9,96.2,94.3,69.38%,38.6,-2.02%,-1.9

In [246]:
CO2Emissions_State_1970to2021_noheader_new = pd.melt(CO2Emissions_State_1970to2021_noheader_newdrop, id_vars=['State'], var_name='Year', value_name='CO2_Value')

In [247]:
CO2Emissions_State_1970to2021_noheader_new

              State        Year CO2_Value
0           Alabama        1970      29.7
1            Alaska        1970      37.3
2           Arizona        1970      13.9
3          Arkansas        1970      18.7
4        California        1970      14.7
...             ...         ...       ...
2851       Virginia  Absolute.1      -0.1
2852     Washington  Absolute.1       0.7
2853  West Virginia  Absolute.1       6.5
2854      Wisconsin  Absolute.1       1.0
2855        Wyoming  Absolute.1      -1.9

[2856 rows x 3 columns]

In [248]:
CO2Emissions_State_1970to2021_noheader_new.set_index('Year', inplace=True)

In [249]:
CO2Emissions_State_1970to2021_noheader_new.tail(250)

                           State CO2_Value
Year
2021                    Colorado      14.7
2021                 Connecticut      10.1
2021                    Delaware      12.9
2021        District of Columbia       3.8
2021                     Florida      10.4
...                          ...       ...
Absolute.1              Virginia      -0.1
Absolute.1            Washington       0.7
Absolute.1         West Virginia       6.5
Absolute.1             Wisconsin       1.0
Absolute.1               Wyoming      -1.9

[250 rows x 2 columns]

In [250]:
CO2Emissions_State_1970to2021_noheader_new = CO2Emissions_State_1970to2021_noheader_new.drop(['Percent', 'Absolute', 'Absolute.1','Percent.1'], axis=0)

In [251]:
# Display the resulting DataFrame
CO2Emissions_State_1970to2021_noheader_new

              State CO2_Value
Year
1970        Alabama      29.7
1970         Alaska      37.3
1970        Arizona      13.9
1970       Arkansas      18.7
1970     California      14.7
...             ...       ...
2021       Virginia      11.3
2021     Washington       9.5
2021  West Virginia      49.5
2021      Wisconsin      15.7
2021        Wyoming      94.3

[2652 rows x 2 columns]

In [133]:
use_energy_source_coal = pd.read_csv('../data/use_energy_source_coal.csv')

In [87]:
use_energy_source_ng = pd.read_csv('../data/use_energy_source_ng.csv')

In [89]:
use_energy_source_nuke = pd.read_csv('../data/use_energy_source_nuke.csv')

In [90]:
use_energy_source_petro = pd.read_csv('../data/use_energy_source_petro.csv')

In [91]:
use_energy_source_renew = pd.read_csv('../data/use_energy_source_renew.csv')

In [99]:
use_energy_source_coal = use_energy_source_coal.dropna(axis=1, how='all')

In [101]:
use_energy_source_coal

,State,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AK,"2,034","2,300","4,048","5,567","6,805","7,670","12,282","11,889","17,636",...,"347,228","332,631","329,274","333,936","330,883","343,899","346,255","343,384","373,567","384,560"
1,AL,"190,706","191,533","201,250","211,348","230,316","236,949","240,755","262,055","296,690",...,"677,380","625,869","650,570","701,582","715,033","681,208","771,194","748,731","714,871","739,546"
2,AR,"222,202","215,311","235,477","252,846","278,852","277,661","289,632","295,756","321,569",...,"300,572","288,045","273,009","296,826","315,617","317,530","366,939","371,388","335,441","360,504"
3,AZ,"140,275","159,093","163,461","169,533","174,623","166,063","174,448","169,085","189,965",...,"339,043","340,375","315,916","365,313","373,916","334,629","400,531","484,249","513,539","484,962"
4,CA,"1,301,826","1,400,174","1,483,423","1,623,370","1,817,241","1,813,213","1,982,305","2,048,734","2,187,260",...,"2,456,371","2,480,792","2,409,574","2,384,061","2,248,939","2,190,994","2,209,801","2,218,732","2,151,068","2,172,757"
5,CO,"194,963","210,872","202,310","180,366","205,251","204,483","207,693","210,209","253,481",...,"456,471","480,875","497,182","490,642","464,749","462,135","518,088","553,842","552,271","526,513"
6,CT,"29,449","31,424","33,355","35,575","38,627","41,720","48,744","50,826","54,053",...,"236,260","240,102","242,227","260,925","254,652","246,532","285,991","293,149","297,582","306,843"
7,DC,"12,951","13,721","14,742","15,335","16,266","17,315","17,611","21,923","22,957",...,"29,389","33,725","35,302","33,654","30,160","30,607","32,623","31,603","27,984","28,336"
8,DE,"9,351","9,708","14,999","17,082","17,826","18,742","19,845","21,948","25,069",...,"104,421","100,682","107,051","107,819","113,552","103,121","99,416","93,442","94,009","87,778"
9,FL,"142,900","148,894","162,843","179,441","189,595","191,669","220,568","234,326","286,653",...,"1,348,390","1,245,287","1,241,250","1,378,089","1,414,358","1,421,271","1,511,134","1,578,269","1,619,429","1,591,156"
10,GA,"188,460","186,255","199,380","195,667","215,579","219,774","243,089","265,271","295,289",...,"624,338","634,635","664,808","712,580","727,336","709,671","759,205","786,904","779,340","773,889"
11,HI,0,0,0,0,0,0,0,0,0,...,187,197,167,196,162,163,192,228,199,133
12,IA,"193,688","211,826","221,026","220,538","244,609","249,988","244,028","278,580","303,746",...,"266,283","306,419","311,352","302,936","317,115","376,298","431,513","433,368","396,343","383,424"
13,ID,"22,776","24,808","26,709","28,366","33,014","36,092","38,992","35,929","40,387",...,"90,339","107,089","93,610","107,871","110,344","115,899","115,833","133,257","129,363","135,178"
14,IL,"536,127","576,551","624,035","655,743","737,326","778,662","868,621","979,649","1,027,219",...,"939,024","1,063,511","1,108,134","1,011,357","1,045,034","1,034,583","1,127,424","1,180,447","1,158,640","1,082,481"
15,IN,"219,758","248,273","281,781","297,815","333,685","357,502","399,896","434,632","454,467",...,"654,528","680,051","723,942","735,055","779,945","747,919","890,433","934,151","873,505","870,075"
16,KS,"373,664","364,020","373,666","367,759","391,306","440,802","481,093","446,454","490,591",...,"268,086","288,274","291,483","280,421","276,404","279,097","321,809","319,950","301,392","292,156"
17,KY,"153,807","156,328","163,826","173,508","179,666","176,734","152,219","197,083","201,137",...,"232,701","235,703","262,278","276,867","279,935","296,673","356,673","361,174","343,788","365,718"
18,LA,"1,003,771","1,064,610","1,050,301","1,128,773","1,201,445","1,156,449","1,245,597","1,440,390","1,539,750",...,"1,585,876","1,504,969","1,547,176","1,594,207","1,718,305","1,716,392","1,865,382","1,963,925","1,924,573","1,861,540"
19,MA,"80,612","84,630","92,131","99,924","108,193","115,712","117,709","129,884","133,913",...,"430,920","435,312","432,523","457,124","440,725","462,406","452,093","442,794","400,675","404,324"
20,MD,"73,315","76,520","84,796","89,004","94,255","100,979","102,826","121,287","129,702",...,"216,558","206,126","217,227","225,969","229,508","232,723","312,824","311,631","296,585","302,243"
21,ME,0,0,0,0,0,0,522,775,819,...,"70,451","65,886","62,423","54,203","54,509","45,125","48,370","46,301","47,028","57,233"
22,MI,"382,980","422,582","459,179","470,503","505,780","563,563","626,782","699,131","711,046",...,"804,084","831,741","878,128","871,834","926,828","908,197","1,010,919","1,054,986","1,003,430","950,120"
23,MN,"186,121","199,324","221,625","218,609","236,502","248,244","265,810","285,350","315,017",...,"430,277","478,611","490,111","448,557","466,365","466,884","514,172","549,487","496,026","523,812"
24,MO,"270,074","284,094","299,614","309,137","332,023","347,967","357,396","367,195","372,856",...,"258,945","281,399","301,368","270,885","273,583","264,614","330,552","327,798","303,949","293,874"
25,MS,"187,874","190,591","199,391","222,937","250,528","250,626","284,500","288,650","319,377",...,"499,946","426,902","439,557","536,996","561,342","543,721","591,886","583,800","610,312","576,923"
26,MT,"57,638","61,314","65,680","66,566","69,486","70,795","72,116","64,908","62,835",...,"75,234","82,298","80,063","77,443","77,589","83,319","90,778","92,649","87,478","86,998"
27,NC,"47,032","52,291","58,346","64,539","70,932","78,245","89,442","100,822","117,794",...,"367,948","445,018","462,289","516,026","540,271","520,659","599,308","569,405","557,570","637,553"
28,ND,"27,356","29,310","32,045","32,283","33,390","32,437","31,864","32,049","33,317",...,"71,873","82,334","89,095","100,852","105,625","112,146","130,084","157,419","150,166","190,784"
29,NE,"140,430","144,566","149,324","145,771","160,545","164,719","195,864","187,907","202,938",...,"161,770","179,617","179,705","170,346","172,929","175,613","196,445","198,771","192,725","191,008"
30,NH,"2,952","3,124","3,431","3,607","3,817","4,133","4,197","4,522","4,208",...,"74,336","55,649","58,785","70,742","59,638","53,633","51,471","55,366","53,630","60,116"
31,NJ,"144,132","159,189","180,307","197,097","209,714","219,196","236,816","261,542","278,430",...,"670,827","711,999","805,145","778,866","793,928","734,147","799,555","790,685","678,931","697,019"
32,NM,"207,301","218,948","247,090","239,911","226,697","224,253","247,390","280,382","286,329",...,"249,815","252,867","256,056","260,038","259,158","249,357","281,322","305,538","292,036","284,989"
33,NV,"12,883","16,419","18,141","20,681","25,579","29,395","36,305","36,822","39,177",...,"281,432","282,245","261,902","312,602","316,653","305,309","310,875","315,564","310,715","305,212"
34,NY,"434,127","450,630","491,055","520,712","527,890","558,658","645,684","602,670","653,282",...,"1,260,950","1,315,282","1,392,378","1,396,693","1,336,455","1,276,905","1,393,657","1,337,750","1,305,282","1,361,190"
35,OH,"724,824","746,456","784,630","826,138","852,659","909,391","975,841","994,595","1,018,464",...,"869,556","945,731","1,058,802","1,031,716","994,162","1,014,299","1,236,747","1,260,474","1,233,412","1,293,129"
36,OK,"319,270","316,051","416,403","490,988","522,805","480,079","449,319","460,163","507,884",...,"712,411","682,277","667,360","711,393","736,164","692,145","842,224","873,688","847,555","745,038"
37,OR,"31,941","35,011","39,190","46,731","57,979","59,990","69,324","73,999","83,504",...,"220,578","244,265","226,472","245,897","249,829","262,532","271,311","302,229","282,518","305,665"
38,PA,"540,094","547,651","568,742","609,513","632,666","652,906","702,888","701,546","741,600",...,"1,079,495","1,175,535","1,304,080","1,313,350","1,354,340","1,404,240","1,515,912","1,679,486","1,783,003","1,867,361"
39,RI,"12,253","13,227","14,277","15,343","16,145","17,036","17,385","19,251","21,574",...,"98,435","88,274","91,374","96,514","88,471","94,730","104,748","97,931","100,985","105,473"
40,SC,"60,581","63,060","73,118","78,478","82,101","90,513","100,873","104,561","132,104",...,"250,481","236,942","236,040","284,013","284,225","287,408","338,951","347,904","343,349","350,088"
41,SD,"25,392","26,724","28,372","25,084","27,528","26,884","28,256","27,846","28,959",...,"71,501","84,527","83,919","83,370","85,021","85,339","95,548","97,428","91,244","96,787"
42,TN,"151,740","166,703","173,967","179,197","191,178","211,142","236,752","241,965","243,425",...,"281,007","284,750","313,887","322,468","336,341","331,613","404,318","420,285","398,610","413,619"
43,TX,"2,815,483","2,831,993","2,959,563","3,044,428","3,040,492","3,181,456","3,404,262","3,638,596","3,836,859",...,"3,964,124","4,131,225","4,060,590","4,263,856","4,151,065","3,987,778","4,596,600","4,795,216","4,718,367","4,736,878"
44,UT,"72,441","79,168","87,938","88,494","99,071","99,810","95,740","97,068","101,626",...,"232,630","258,661","251,649","242,848","250,199","231,151","253,819","276,460","266,595","274,376"
45,VA,"68,431","73,034","79,884","86,240","91,963","98,615","125,287","119,364","125,708",...,"424,000","433,438","438,697","526,314","572,103","596,648","667,004","717,725","748,377","699,927"
46,VT,0,0,0,0,0,0,906,"1,374","1,674",...,"8,287","9,743","10,853","12,245","12,383","12,281","14,208","14,381","13,589","13,801"
47,WA,"67,207","72,805","84,281","93,433","113,935","116,216","124,827","135,245","148,065",...,"271,947","327,840","320,167","327,738","324,929","350,872","334,779","378,216","354,969","382,807"
48,WI,"93,792","117,658","141,294","156,163","173,946","204,093","229,393","253,737","278,560",...,"410,305","454,050","479,396","476,969","501,042","504,808","565,291","592,529","571,817","559,535"
49,WV,"155,554","168,291","159,207","163,925","172,374","176,111","179,195","157,423","189,957",...,"140,133","152,880","180,222","191,059","188,491","199,298","221,402","239,854","265,123","279,133"
50,WY,"52,828","59,326","61,189","55,041","55,437","54,805","62,891","69,619","75,649",...,"158,546","156,110","142,268","126,421","132,478","158,370","175,639","172,235","169,076","161,354"
51,US,"12,385,366","12,926,392","13,730,841","14,419,107","15,297,642","15,779,457","17,005,781","17,964,988","19,204,569",...,"26,075,691","26,788,768","27,376,838","28,179,686","28,392,790","28,056,891","31,163,246","32,236,174","31,562,036","31,655,918"

In [134]:
use_energy_source_coal = use_energy_source_coal.iloc[:-1, :]

In [135]:
use_energy_source_coal

,State,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AK,"7,189","11,552","13,559","11,999","12,029","9,888","16,431","18,462","15,998",...,"15,521","14,819","18,225","19,511","16,613","16,376","17,325","17,620","18,527","18,694"
1,AL,"395,400","382,455","427,177","442,465","459,000","533,142","583,457","580,163","618,335",...,"547,004","565,051","575,912","494,311","410,168","378,890","377,152","317,180","256,687","309,791"
2,AR,356,275,160,135,186,163,111,104,132,...,"296,732","327,099","339,214","226,889","246,437","267,591","304,145","239,798","161,980","216,123"
3,AZ,210,211,"6,291","8,432","9,103","7,030","7,373","7,184","8,137",...,"420,570","454,865","447,849","385,822","323,878","334,512","331,492","257,727","156,821","160,299"
4,CA,"35,903","59,106","39,681","46,127","53,723","63,693","51,515","53,949","57,011",...,"43,832","38,151","39,486","30,967","32,077","33,663","33,256","30,886","28,034","28,244"
5,CO,"68,206","76,938","79,296","88,958","89,600","98,117","109,021","107,862","112,995",...,"370,085","363,532","350,526","340,107","321,476","315,835","284,474","273,338","217,082","252,442"
6,CT,"101,694","107,540","112,064","117,384","120,798","128,613","136,198","109,548","82,430",...,"9,290","7,679","9,097","6,536","2,340","2,507","4,023",867,67,"2,880"
7,DC,"27,792","25,770","22,437","18,598","18,111","13,804","23,936","22,600","23,692",...,77,4,48,44,34,30,37,5,0,0
8,DE,"20,496","20,776","22,586","26,494","29,241","29,030","38,690","40,712","44,082",...,"17,384","18,254","10,238","7,149","8,199","4,804","4,296","2,179","1,956","4,542"
9,FL,"27,176","36,267","39,644","43,281","46,691","55,189","70,146","96,160","103,172",...,"482,984","505,155","557,882","466,530","426,188","407,538","327,807","233,542","180,387","200,193"
10,GA,"88,950","90,769","87,199","115,509","123,813","152,600","177,237","165,942","194,909",...,"435,546","426,184","482,657","394,665","399,279","344,273","340,152","273,109","153,179","203,870"
11,HI,0,0,0,0,0,0,0,0,0,...,"16,572","15,306","17,241","15,632","16,431","14,948","14,367","14,179","13,281","12,566"
12,IA,"115,945","104,513","114,293","116,201","112,797","126,638","125,400","120,832","120,036",...,"422,595","402,402","401,151","348,293","298,006","300,287","325,673","266,368","183,017","264,419"
13,ID,"16,845","17,103","18,028","16,589","18,234","15,863","14,867","13,401","11,552",...,"5,186","7,965","7,472","4,249","2,432","2,615","2,823","2,364","2,663","3,051"
14,IL,"914,648","899,157","912,473","912,344","944,485","1,014,492","1,072,076","1,030,722","1,006,199",...,"969,294","1,026,925","1,017,855","850,430","702,467","685,000","704,574","591,909","391,150","521,615"
15,IN,"794,942","798,090","785,052","815,496","860,401","900,562","967,518","930,848","961,526",...,"1,193,465","1,198,611","1,221,492","1,007,472","948,386","929,271","985,668","821,545","669,310","753,557"
16,KS,"15,724","13,478","14,595","16,716","14,827","15,282","13,680","12,231","12,740",...,"307,585","326,817","316,572","273,416","253,121","216,747","227,665","197,779","193,779","219,031"
17,KY,"286,738","288,113","287,376","368,036","401,711","415,492","426,294","434,203","444,142",...,"909,705","914,774","913,452","796,484","736,584","639,356","655,909","574,502","482,266","548,443"
18,LA,0,1,0,2,1,0,0,0,0,...,"238,811","228,055","209,973","174,221","140,513","142,267","137,818","90,701","48,718","95,856"
19,MA,"118,745","120,459","119,907","115,969","123,421","127,922","112,103","101,438","87,696",...,"24,036","42,208","29,871","24,177","20,115","12,407",101,71,0,0
20,MD,"226,566","230,214","252,310","275,328","300,629","327,393","339,046","350,715","362,795",...,"192,334","183,191","201,220","165,994","162,931","106,973","124,191","77,301","49,692","69,186"
21,ME,"20,408","19,505","17,821","12,541","8,082","7,992","7,401","5,618","4,592",...,"1,299","1,657","2,142","2,588","2,194","2,168","2,113","2,160","1,657","1,588"
22,MI,"653,141","637,466","695,978","758,970","780,945","830,191","897,159","870,628","933,607",...,"621,633","658,172","618,479","617,280","471,236","499,439","506,105","447,823","334,428","436,203"
23,MN,"131,265","130,948","131,206","138,716","156,354","159,987","171,398","161,175","150,563",...,"257,875","267,695","313,073","271,570","261,250","257,594","261,530","205,139","162,702","179,055"
24,MO,"170,906","158,523","180,520","180,670","183,420","189,620","190,661","188,991","212,261",...,"768,297","806,549","780,707","696,401","639,860","709,796","668,188","584,662","551,341","616,413"
25,MS,753,655,708,763,729,"1,020",898,962,"7,317",...,"82,456","97,767","116,537","71,626","61,219","53,779","60,015","51,028","54,188","64,446"
26,MT,"3,999","5,149","5,670","5,372","5,811","5,537","5,805","5,484","6,719",...,"157,308","166,104","175,357","178,421","161,938","156,073","152,295","159,165","98,886","122,765"
27,NC,"231,342","244,241","260,487","282,911","295,013","325,866","380,312","405,418","446,588",...,"534,713","493,771","501,592","405,525","381,761","350,286","325,121","318,154","223,906","222,501"
28,ND,"30,531","30,011","28,384","24,937","26,502","24,746","36,034","44,028","48,467",...,"406,344","393,193","399,195","408,091","394,579","397,875","407,262","372,018","363,255","361,811"
29,NE,"20,010","18,164","23,047","24,513","23,650","20,815","19,748","18,303","17,192",...,"272,587","292,956","276,544","266,319","240,465","233,809","264,072","240,414","213,747","216,298"
30,NH,"5,390","12,308","12,330","11,520","11,755","11,171","9,655","10,247","22,297",...,"14,191","16,778","14,867","10,989","5,277","3,617","7,798","4,182","1,518","3,259"
31,NJ,"168,775","193,959","195,944","193,035","206,555","236,647","236,575","198,642","188,734",...,"25,589","25,910","30,731","22,925","17,455","16,488","16,732","13,780","12,144","12,586"
32,NM,"4,064","3,303","2,451","15,765","31,271","44,277","37,029","44,143","42,971",...,"263,439","256,377","215,348","215,703","197,083","199,114","136,824","151,468","138,968","133,228"
33,NV,"3,962","3,740","4,218","3,387","3,234","7,892","10,862","9,379","14,582",...,"52,850","64,838","79,230","36,635","30,765","27,297","34,996","37,177","27,778","35,910"
34,NY,"691,728","634,013","620,891","643,946","739,638","755,238","731,385","726,567","700,146",...,"72,914","68,707","64,655","41,241","29,679","19,553","16,710","13,648","5,681","5,370"
35,OH,"1,269,205","1,159,286","1,229,713","1,243,806","1,272,289","1,324,406","1,420,418","1,405,472","1,478,634",...,"1,019,140","1,104,486","1,057,377","865,714","825,311","810,953","717,818","594,257","556,769","575,920"
36,OK,"1,826","1,452","1,072","1,685","1,035",697,695,567,465,...,"327,089","335,925","336,080","280,748","221,842","198,309","171,280","93,953","70,714","131,695"
37,OR,"8,943","9,420","8,805","7,455","6,833","7,110","6,521","4,802","3,898",...,"28,259","38,900","34,238","26,515","19,440","18,723","16,911","27,430","17,811","1,303"
38,PA,"1,530,508","1,431,872","1,477,609","1,538,471","1,699,047","1,751,318","1,746,453","1,701,151","1,725,890",...,"1,093,178","1,126,118","1,039,161","878,829","734,838","669,540","644,056","568,781","374,254","485,193"
39,RI,"16,754","15,116","14,953","13,308","11,022","11,461","10,581","6,545","3,297",...,0,0,0,0,0,0,0,0,0,0
40,SC,"96,414","103,498","108,500","118,239","108,707","121,474","132,867","134,348","123,989",...,"298,572","257,319","305,656","241,217","221,865","192,751","205,204","160,703","137,280","162,628"
41,SD,"6,707","6,273","6,725","6,221","5,539","5,652","5,239","5,553","5,218",...,"35,574","34,246","33,062","19,616","26,660","26,114","27,618","31,420","21,692","21,589"
42,TN,"374,478","354,174","347,170","386,275","336,101","338,853","363,659","351,990","439,263",...,"423,086","399,768","427,509","370,650","379,775","334,567","251,835","216,876","176,104","225,784"
43,TX,"24,974","18,203","20,582","19,173","26,232","29,182","27,844","23,523","24,996",...,"1,498,818","1,597,357","1,585,961","1,340,422","1,323,111","1,451,978","1,189,311","992,721","872,845","968,401"
44,UT,"90,967","81,964","65,575","62,411","71,031","75,449","79,119","72,396","73,920",...,"322,055","355,230","344,054","330,043","269,016","274,816","273,117","266,989","244,280","276,159"
45,VA,"316,395","328,073","345,482","360,181","370,395","386,296","386,377","369,977","383,807",...,"222,270","290,508","278,183","232,427","222,938","159,813","149,349","85,120","75,434","68,603"
46,VT,"3,507","3,906","3,019","3,352","2,730","2,707","2,198","2,059","1,884",...,0,0,0,0,0,0,0,0,0,0
47,WA,"15,231","15,709","15,652","13,194","11,827","12,134","11,134","8,265","6,977",...,"42,656","74,955","76,547","58,273","53,302","61,732","61,166","80,837","59,443","36,943"
48,WI,"304,624","307,795","310,326","319,255","333,408","347,925","370,695","360,809","356,191",...,"373,281","454,554","417,096","408,189","357,335","388,614","362,077","280,108","249,316","286,760"
49,WV,"354,418","386,400","391,870","438,083","467,210","477,365","520,023","543,103","601,879",...,"756,716","771,188","816,460","730,949","751,957","710,445","661,760","621,722","539,707","633,582"
50,WY,"15,763","20,100","23,749","30,292","32,379","34,454","41,450","39,826","43,608",...,"490,128","520,699","489,300","487,177","457,315","458,496","455,748","410,221","388,253","376,971"

In [136]:
# Melt the DataFrame
use_energy_source_coal_new = pd.melt(use_energy_source_coal, id_vars=['State'], var_name='Year', value_name='Coal_Value')

In [137]:
use_energy_source_coal_new

     State  Year Coal_Value
0       AK  1960      7,189
1       AL  1960    395,400
2       AR  1960        356
3       AZ  1960        210
4       CA  1960     35,903
...    ...   ...        ...
3157    VT  2021          0
3158    WA  2021     36,943
3159    WI  2021    286,760
3160    WV  2021    633,582
3161    WY  2021    376,971

[3162 rows x 3 columns]

In [138]:
use_energy_source_ng = use_energy_source_ng.iloc[:-1, :]

In [139]:
use_energy_source_ng = use_energy_source_ng.dropna(axis=1, how='all')

In [140]:
use_energy_source_ng

,State,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AK,"2,034","2,300","4,048","5,567","6,805","7,670","12,282","11,889","17,636",...,"347,228","332,631","329,274","333,936","330,883","343,899","346,255","343,384","373,567","384,560"
1,AL,"190,706","191,533","201,250","211,348","230,316","236,949","240,755","262,055","296,690",...,"677,380","625,869","650,570","701,582","715,033","681,208","771,194","748,731","714,871","739,546"
2,AR,"222,202","215,311","235,477","252,846","278,852","277,661","289,632","295,756","321,569",...,"300,572","288,045","273,009","296,826","315,617","317,530","366,939","371,388","335,441","360,504"
3,AZ,"140,275","159,093","163,461","169,533","174,623","166,063","174,448","169,085","189,965",...,"339,043","340,375","315,916","365,313","373,916","334,629","400,531","484,249","513,539","484,962"
4,CA,"1,301,826","1,400,174","1,483,423","1,623,370","1,817,241","1,813,213","1,982,305","2,048,734","2,187,260",...,"2,456,371","2,480,792","2,409,574","2,384,061","2,248,939","2,190,994","2,209,801","2,218,732","2,151,068","2,172,757"
5,CO,"194,963","210,872","202,310","180,366","205,251","204,483","207,693","210,209","253,481",...,"456,471","480,875","497,182","490,642","464,749","462,135","518,088","553,842","552,271","526,513"
6,CT,"29,449","31,424","33,355","35,575","38,627","41,720","48,744","50,826","54,053",...,"236,260","240,102","242,227","260,925","254,652","246,532","285,991","293,149","297,582","306,843"
7,DC,"12,951","13,721","14,742","15,335","16,266","17,315","17,611","21,923","22,957",...,"29,389","33,725","35,302","33,654","30,160","30,607","32,623","31,603","27,984","28,336"
8,DE,"9,351","9,708","14,999","17,082","17,826","18,742","19,845","21,948","25,069",...,"104,421","100,682","107,051","107,819","113,552","103,121","99,416","93,442","94,009","87,778"
9,FL,"142,900","148,894","162,843","179,441","189,595","191,669","220,568","234,326","286,653",...,"1,348,390","1,245,287","1,241,250","1,378,089","1,414,358","1,421,271","1,511,134","1,578,269","1,619,429","1,591,156"
10,GA,"188,460","186,255","199,380","195,667","215,579","219,774","243,089","265,271","295,289",...,"624,338","634,635","664,808","712,580","727,336","709,671","759,205","786,904","779,340","773,889"
11,HI,0,0,0,0,0,0,0,0,0,...,187,197,167,196,162,163,192,228,199,133
12,IA,"193,688","211,826","221,026","220,538","244,609","249,988","244,028","278,580","303,746",...,"266,283","306,419","311,352","302,936","317,115","376,298","431,513","433,368","396,343","383,424"
13,ID,"22,776","24,808","26,709","28,366","33,014","36,092","38,992","35,929","40,387",...,"90,339","107,089","93,610","107,871","110,344","115,899","115,833","133,257","129,363","135,178"
14,IL,"536,127","576,551","624,035","655,743","737,326","778,662","868,621","979,649","1,027,219",...,"939,024","1,063,511","1,108,134","1,011,357","1,045,034","1,034,583","1,127,424","1,180,447","1,158,640","1,082,481"
15,IN,"219,758","248,273","281,781","297,815","333,685","357,502","399,896","434,632","454,467",...,"654,528","680,051","723,942","735,055","779,945","747,919","890,433","934,151","873,505","870,075"
16,KS,"373,664","364,020","373,666","367,759","391,306","440,802","481,093","446,454","490,591",...,"268,086","288,274","291,483","280,421","276,404","279,097","321,809","319,950","301,392","292,156"
17,KY,"153,807","156,328","163,826","173,508","179,666","176,734","152,219","197,083","201,137",...,"232,701","235,703","262,278","276,867","279,935","296,673","356,673","361,174","343,788","365,718"
18,LA,"1,003,771","1,064,610","1,050,301","1,128,773","1,201,445","1,156,449","1,245,597","1,440,390","1,539,750",...,"1,585,876","1,504,969","1,547,176","1,594,207","1,718,305","1,716,392","1,865,382","1,963,925","1,924,573","1,861,540"
19,MA,"80,612","84,630","92,131","99,924","108,193","115,712","117,709","129,884","133,913",...,"430,920","435,312","432,523","457,124","440,725","462,406","452,093","442,794","400,675","404,324"
20,MD,"73,315","76,520","84,796","89,004","94,255","100,979","102,826","121,287","129,702",...,"216,558","206,126","217,227","225,969","229,508","232,723","312,824","311,631","296,585","302,243"
21,ME,0,0,0,0,0,0,522,775,819,...,"70,451","65,886","62,423","54,203","54,509","45,125","48,370","46,301","47,028","57,233"
22,MI,"382,980","422,582","459,179","470,503","505,780","563,563","626,782","699,131","711,046",...,"804,084","831,741","878,128","871,834","926,828","908,197","1,010,919","1,054,986","1,003,430","950,120"
23,MN,"186,121","199,324","221,625","218,609","236,502","248,244","265,810","285,350","315,017",...,"430,277","478,611","490,111","448,557","466,365","466,884","514,172","549,487","496,026","523,812"
24,MO,"270,074","284,094","299,614","309,137","332,023","347,967","357,396","367,195","372,856",...,"258,945","281,399","301,368","270,885","273,583","264,614","330,552","327,798","303,949","293,874"
25,MS,"187,874","190,591","199,391","222,937","250,528","250,626","284,500","288,650","319,377",...,"499,946","426,902","439,557","536,996","561,342","543,721","591,886","583,800","610,312","576,923"
26,MT,"57,638","61,314","65,680","66,566","69,486","70,795","72,116","64,908","62,835",...,"75,234","82,298","80,063","77,443","77,589","83,319","90,778","92,649","87,478","86,998"
27,NC,"47,032","52,291","58,346","64,539","70,932","78,245","89,442","100,822","117,794",...,"367,948","445,018","462,289","516,026","540,271","520,659","599,308","569,405","557,570","637,553"
28,ND,"27,356","29,310","32,045","32,283","33,390","32,437","31,864","32,049","33,317",...,"71,873","82,334","89,095","100,852","105,625","112,146","130,084","157,419","150,166","190,784"
29,NE,"140,430","144,566","149,324","145,771","160,545","164,719","195,864","187,907","202,938",...,"161,770","179,617","179,705","170,346","172,929","175,613","196,445","198,771","192,725","191,008"
30,NH,"2,952","3,124","3,431","3,607","3,817","4,133","4,197","4,522","4,208",...,"74,336","55,649","58,785","70,742","59,638","53,633","51,471","55,366","53,630","60,116"
31,NJ,"144,132","159,189","180,307","197,097","209,714","219,196","236,816","261,542","278,430",...,"670,827","711,999","805,145","778,866","793,928","734,147","799,555","790,685","678,931","697,019"
32,NM,"207,301","218,948","247,090","239,911","226,697","224,253","247,390","280,382","286,329",...,"249,815","252,867","256,056","260,038","259,158","249,357","281,322","305,538","292,036","284,989"
33,NV,"12,883","16,419","18,141","20,681","25,579","29,395","36,305","36,822","39,177",...,"281,432","282,245","261,902","312,602","316,653","305,309","310,875","315,564","310,715","305,212"
34,NY,"434,127","450,630","491,055","520,712","527,890","558,658","645,684","602,670","653,282",...,"1,260,950","1,315,282","1,392,378","1,396,693","1,336,455","1,276,905","1,393,657","1,337,750","1,305,282","1,361,190"
35,OH,"724,824","746,456","784,630","826,138","852,659","909,391","975,841","994,595","1,018,464",...,"869,556","945,731","1,058,802","1,031,716","994,162","1,014,299","1,236,747","1,260,474","1,233,412","1,293,129"
36,OK,"319,270","316,051","416,403","490,988","522,805","480,079","449,319","460,163","507,884",...,"712,411","682,277","667,360","711,393","736,164","692,145","842,224","873,688","847,555","745,038"
37,OR,"31,941","35,011","39,190","46,731","57,979","59,990","69,324","73,999","83,504",...,"220,578","244,265","226,472","245,897","249,829","262,532","271,311","302,229","282,518","305,665"
38,PA,"540,094","547,651","568,742","609,513","632,666","652,906","702,888","701,546","741,600",...,"1,079,495","1,175,535","1,304,080","1,313,350","1,354,340","1,404,240","1,515,912","1,679,486","1,783,003","1,867,361"
39,RI,"12,253","13,227","14,277","15,343","16,145","17,036","17,385","19,251","21,574",...,"98,435","88,274","91,374","96,514","88,471","94,730","104,748","97,931","100,985","105,473"
40,SC,"60,581","63,060","73,118","78,478","82,101","90,513","100,873","104,561","132,104",...,"250,481","236,942","236,040","284,013","284,225","287,408","338,951","347,904","343,349","350,088"
41,SD,"25,392","26,724","28,372","25,084","27,528","26,884","28,256","27,846","28,959",...,"71,501","84,527","83,919","83,370","85,021","85,339","95,548","97,428","91,244","96,787"
42,TN,"151,740","166,703","173,967","179,197","191,178","211,142","236,752","241,965","243,425",...,"281,007","284,750","313,887","322,468","336,341","331,613","404,318","420,285","398,610","413,619"
43,TX,"2,815,483","2,831,993","2,959,563","3,044,428","3,040,492","3,181,456","3,404,262","3,638,596","3,836,859",...,"3,964,124","4,131,225","4,060,590","4,263,856","4,151,065","3,987,778","4,596,600","4,795,216","4,718,367","4,736,878"
44,UT,"72,441","79,168","87,938","88,494","99,071","99,810","95,740","97,068","101,626",...,"232,630","258,661","251,649","242,848","250,199","231,151","253,819","276,460","266,595","274,376"
45,VA,"68,431","73,034","79,884","86,240","91,963","98,615","125,287","119,364","125,708",...,"424,000","433,438","438,697","526,314","572,103","596,648","667,004","717,725","748,377","699,927"
46,VT,0,0,0,0,0,0,906,"1,374","1,674",...,"8,287","9,743","10,853","12,245","12,383","12,281","14,208","14,381","13,589","13,801"
47,WA,"67,207","72,805","84,281","93,433","113,935","116,216","124,827","135,245","148,065",...,"271,947","327,840","320,167","327,738","324,929","350,872","334,779","378,216","354,969","382,807"
48,WI,"93,792","117,658","141,294","156,163","173,946","204,093","229,393","253,737","278,560",...,"410,305","454,050","479,396","476,969","501,042","504,808","565,291","592,529","571,817","559,535"
49,WV,"155,554","168,291","159,207","163,925","172,374","176,111","179,195","157,423","189,957",...,"140,133","152,880","180,222","191,059","188,491","199,298","221,402","239,854","265,123","279,133"
50,WY,"52,828","59,326","61,189","55,041","55,437","54,805","62,891","69,619","75,649",...,"158,546","156,110","142,268","126,421","132,478","158,370","175,639","172,235","169,076","161,354"

In [141]:
use_energy_source_ng_new = pd.melt(use_energy_source_ng, id_vars=['State'], var_name='Year', value_name='Natural_Gas_Value')

In [142]:
use_energy_source_ng_new

     State  Year Natural_Gas_Value
0       AK  1960             2,034
1       AL  1960           190,706
2       AR  1960           222,202
3       AZ  1960           140,275
4       CA  1960         1,301,826
...    ...   ...               ...
3157    VT  2021            13,801
3158    WA  2021           382,807
3159    WI  2021           559,535
3160    WV  2021           279,133
3161    WY  2021           161,354

[3162 rows x 3 columns]

In [143]:
use_energy_source_nuke = use_energy_source_nuke.iloc[:-1, :]

In [144]:
use_energy_source_nuke = use_energy_source_nuke.dropna(axis=1, how='all')

In [145]:
use_energy_source_nuke

,State,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AK,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,AL,0,0,0,0,0,0,0,0,0,...,"427,975","426,488","431,368","438,728","417,334","446,097","412,584","455,865","454,930","480,897"
2,AR,0,0,0,0,0,0,0,0,0,...,"162,353","124,816","151,428","144,716","140,370","132,736","132,996","141,750","157,349","141,603"
3,AZ,0,0,0,0,0,0,0,0,0,...,"334,636","328,423","338,044","340,153","338,636","338,246","325,122","333,312","329,597","330,406"
4,CA,1,55,84,"2,288","4,369","3,193","1,895","6,503","17,003",...,"193,939","187,162","177,656","193,529","197,754","187,227","190,422","168,799","169,838","172,123"
5,CO,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,CT,0,0,0,0,0,0,0,"6,056","33,941",...,"178,959","178,465","165,677","182,083","173,363","172,570","176,496","174,730","164,157","179,844"
7,DC,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,DE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,FL,0,0,0,0,0,0,0,0,0,...,"187,259","277,169","291,474","294,099","306,658","304,840","306,461","303,946","307,315","293,097"
10,GA,0,0,0,0,0,0,0,0,0,...,"355,674","343,801","340,652","353,883","360,633","352,560","359,262","350,759","342,897","354,662"
11,HI,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,IA,0,0,0,0,0,0,0,0,0,...,"45,552","55,597","43,431","54,836","49,185","54,528","51,181","54,671","30,344",0
13,ID,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,IL,"2,958","6,144","13,870","11,093","11,710","11,393","16,358","9,325","10,380",...,"1,010,189","1,014,926","1,023,496","1,017,377","1,031,331","1,016,522","1,025,651","1,030,996","1,047,170","1,013,204"
15,IN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,KS,0,0,0,0,0,0,0,0,0,...,"86,818","74,902","89,512","90,254","86,245","111,367","95,854","96,565","110,545","89,572"
17,KY,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,LA,0,0,0,0,0,0,0,0,0,...,"164,092","177,156","181,059","160,015","179,391","161,171","179,330","145,993","177,055","180,180"
19,MA,394,"9,931","8,017","11,181","14,166","11,407","12,572","14,707","13,757",...,"61,402","45,251","60,340","52,236","56,628","52,788","46,437","22,734",0,0
20,MD,0,0,0,0,0,0,0,0,0,...,"142,297","149,048","150,017","153,140","154,377","158,004","156,699","156,765","157,531","156,623"
21,ME,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,MI,0,0,0,"1,453","2,293","2,132","3,983","5,801","4,808",...,"293,619","302,194","326,800","306,773","329,999","338,675","318,655","343,639","316,854","358,698"
23,MN,0,0,0,8,669,"1,693","1,498","1,624",167,...,"125,159","111,885","132,904","125,900","144,970","145,426","152,657","147,280","153,319","147,526"
24,MO,0,0,0,0,0,0,0,0,0,...,"112,317","87,428","97,021","109,182","98,630","86,853","111,401","95,961","80,874","44,839"
25,MS,0,0,0,0,0,0,0,0,0,...,"76,456","113,523","107,228","122,511","61,680","77,027","72,343","115,202","67,595","122,971"
26,MT,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,NC,0,0,0,0,0,0,0,0,0,...,"412,722","420,486","428,474","440,248","447,500","443,192","439,915","437,683","442,166","450,408"
28,ND,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,NE,0,0,0,886,"1,082",-64,0,0,0,...,"60,795","71,736","105,655","107,976","97,798","72,300","58,884","72,589","64,646","71,875"
30,NH,0,0,0,0,0,0,0,0,0,...,"85,814","114,173","106,350","99,186","112,551","104,493","105,195","113,890","103,052","102,957"
31,NJ,0,0,0,0,0,0,0,0,0,...,"346,962","348,784","329,533","347,851","312,569","355,948","334,373","278,147","279,308","293,972"
32,NM,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,NV,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,NY,0,0,706,"7,017","4,555","8,585","9,274","13,321","12,131",...,"427,277","467,651","450,141","466,457","434,791","441,029","448,718","468,481","401,441","325,671"
35,OH,0,0,0,0,207,255,17,0,0,...,"179,055","168,451","170,319","181,726","175,893","184,997","191,483","177,624","190,316","182,628"
36,OK,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,OR,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,PA,"2,674","3,548","3,717","4,221",301,"3,691","6,107","6,968","5,286",...,"787,753","822,483","823,277","842,044","867,302","870,187","872,749","869,084","799,342","792,878"
39,RI,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,SC,0,0,0,0,468,880,852,94,0,...,"535,952","566,879","548,246","555,909","583,883","568,390","551,151","585,828","571,930","561,696"
41,SD,0,0,0,0,0,0,105,770,-30,...,0,0,0,0,0,0,0,0,0,0
42,TN,0,0,0,0,0,0,0,0,0,...,"263,045","297,732","289,401","261,037","309,357","332,779","378,224","372,992","383,245","369,061"
43,TX,0,0,0,0,0,0,0,0,0,...,"402,823","400,353","410,907","411,571","440,109","403,523","430,597","431,234","432,869","420,047"
44,UT,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,VA,0,0,0,0,0,0,0,0,0,...,"300,992","306,430","316,081","293,455","310,966","319,562","305,826","308,013","314,843","298,458"
46,VT,0,0,0,0,0,0,0,0,0,...,"52,283","50,639","52,929",0,0,0,0,0,0,0
47,WA,0,0,0,0,0,0,"11,497","23,287","44,091",...,"97,808","88,408","99,332","85,347","100,674","85,013","101,502","92,584","98,475","88,909"
48,WI,0,0,0,0,0,0,0,0,0,...,"149,845","121,994","98,807","104,666","106,173","100,919","105,900","104,736","102,071","104,149"
49,WV,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,WY,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [146]:
use_energy_source_nuke_new = pd.melt(use_energy_source_nuke, id_vars=['State'], var_name='Year', value_name='Nuclear_Energy_Value')

In [147]:
use_energy_source_nuke_new

     State  Year Nuclear_Energy_Value
0       AK  1960                    0
1       AL  1960                    0
2       AR  1960                    0
3       AZ  1960                    0
4       CA  1960                    1
...    ...   ...                  ...
3157    VT  2021                    0
3158    WA  2021               88,909
3159    WI  2021              104,149
3160    WV  2021                    0
3161    WY  2021                    0

[3162 rows x 3 columns]

In [148]:
use_energy_source_petro = use_energy_source_petro.iloc[:-1, :]

In [149]:
use_energy_source_petro = use_energy_source_petro.dropna(axis=1, how='all')

In [150]:
use_energy_source_petro

,State,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AK,"45,410","51,008","53,752","55,429","58,130","61,705","65,655","76,363","80,412",...,"250,063","230,765","226,102","235,839","219,837","216,452","215,613","220,818","222,323","256,041"
1,AL,"236,010","232,362","239,387","251,791","256,646","261,907","272,450","277,348","306,563",...,"513,993","492,294","490,328","511,742","538,953","530,370","518,687","529,319","525,878","580,020"
2,AR,"148,055","159,835","166,202","172,970","184,126","178,998","194,561","200,031","219,831",...,"321,213","321,254","325,319","314,414","322,808","321,210","326,432","330,550","315,440","329,239"
3,AZ,"121,344","126,775","135,742","144,241","147,476","145,724","159,220","167,963","188,622",...,"538,460","543,380","543,552","557,369","576,213","583,258","590,247","607,131","544,270","606,053"
4,CA,"1,836,912","1,892,977","1,879,327","1,915,789","2,027,468","2,089,816","2,219,598","2,251,677","2,403,681",...,"3,079,327","3,096,230","3,083,503","3,201,112","3,315,378","3,392,689","3,409,954","3,395,439","2,688,622","2,969,515"
5,CO,"161,701","174,643","183,671","189,938","195,500","198,500","212,419","231,730","251,339",...,"458,509","464,287","480,827","479,850","482,014","489,738","512,429","526,331","437,992","489,206"
6,CT,"362,231","365,569","378,744","380,064","389,732","386,912","412,430","445,943","485,914",...,"300,595","307,661","308,514","313,997","296,001","299,249","316,551","304,773","262,428","287,268"
7,DC,"59,884","56,135","58,579","60,510","70,175","92,330","93,935","102,383","108,713",...,"19,354","18,790","20,118","20,423","19,489","16,915","19,017","18,555","15,492","17,525"
8,DE,"123,940","117,413","122,925","128,087","125,502","133,710","135,477","125,888","134,583",...,"108,981","101,393","103,067","109,009","110,248","112,654","119,451","120,332","104,587","113,210"
9,FL,"611,909","634,303","715,541","735,066","770,772","822,724","843,702","847,255","916,508",...,"1,549,928","1,588,920","1,613,839","1,695,087","1,738,523","1,757,690","1,843,337","1,804,514","1,484,594","1,750,506"
10,GA,"301,423","298,313","327,690","343,066","359,649","390,399","413,509","454,111","488,707",...,"956,122","975,666","948,453","997,508","971,869","1,028,148","998,463","995,857","875,240","922,614"
11,HI,"94,547","113,496","108,072","113,818","122,004","129,295","144,166","162,476","181,142",...,"259,024","260,346","250,169","254,200","252,070","262,205","261,466","264,338","187,858","222,977"
12,IA,"284,968","276,695","284,716","290,839","291,326","293,900","317,679","331,001","341,249",...,"392,006","415,110","424,219","415,141","424,923","409,164","418,691","430,621","404,169","411,463"
13,ID,"73,643","77,658","81,066","79,238","84,040","86,807","87,936","104,391","110,706",...,"153,915","157,372","162,438","175,254","176,049","176,634","180,666","183,278","175,803","188,712"
14,IL,"1,101,969","1,102,481","1,116,454","1,146,719","1,163,221","1,216,922","1,232,038","1,283,202","1,380,821",...,"1,140,419","1,169,110","1,197,140","1,245,106","1,247,540","1,251,487","1,254,095","1,239,327","1,056,447","1,140,285"
15,IN,"600,655","593,230","603,338","615,254","620,329","647,426","659,189","657,294","701,445",...,"683,759","721,544","734,901","750,409","726,396","700,249","703,718","710,201","652,153","714,790"
16,KS,"252,417","253,398","264,169","268,945","262,682","276,842","279,358","282,028","300,262",...,"329,269","338,696","356,192","340,937","342,440","335,329","343,686","352,445","334,609","338,260"
17,KY,"200,419","199,248","222,878","228,153","234,448","255,784","281,670","292,795","319,352",...,"619,187","582,930","580,146","590,257","600,376","577,856","601,468","595,296","540,200","585,943"
18,LA,"466,937","469,790","489,667","578,993","626,747","637,032","695,295","750,617","820,845",...,"1,806,173","1,762,715","1,698,933","1,716,529","1,700,751","1,814,440","1,729,715","1,736,963","1,773,653","1,840,317"
19,MA,"804,058","823,920","844,011","810,041","838,538","956,316","969,386","1,042,398","1,084,064",...,"536,809","564,699","563,978","577,821","558,903","561,908","576,328","572,180","449,040","502,317"
20,MD,"353,177","348,191","369,692","373,975","391,581","410,242","432,553","412,949","439,115",...,"470,103","478,356","484,711","499,114","473,740","470,666","477,626","474,069","397,572","433,109"
21,ME,"152,342","168,340","163,744","168,899","177,055","171,429","180,137","193,495","204,211",...,"170,117","182,365","185,791","194,972","186,072","181,420","171,062","166,761","157,444","164,149"
22,MI,"713,352","715,745","739,170","752,116","762,674","791,646","824,626","845,652","899,703",...,"778,608","831,484","847,600","864,500","880,277","869,880","896,217","882,063","756,310","816,074"
23,MN,"381,283","374,735","391,131","397,851","401,486","424,101","450,411","433,071","471,719",...,"585,141","600,937","602,446","595,108","617,809","611,526","624,491","640,082","545,473","567,228"
24,MO,"403,574","403,064","420,475","430,599","437,130","461,941","476,235","494,891","544,102",...,"599,722","601,720","614,721","622,945","619,747","611,040","619,352","622,101","576,090","609,448"
25,MS,"142,266","142,103","155,263","173,232","180,787","174,275","185,309","207,865","234,518",...,"373,429","364,610","367,502","377,952","386,987","384,318","380,952","383,081","369,614","385,435"
26,MT,"106,971","116,813","120,089","121,231","123,327","110,675","118,225","111,571","124,354",...,"173,248","172,419","168,456","165,080","166,880","172,427","171,531","175,168","174,592","176,856"
27,NC,"418,929","441,038","462,642","467,240","473,652","494,612","535,629","547,089","565,296",...,"802,771","812,705","834,289","857,023","878,993","885,764","906,189","905,845","807,695","884,691"
28,ND,"101,649","96,651","104,594","110,136","109,579","106,897","112,532","116,513","122,200",...,"199,212","222,215","236,320","193,722","164,552","184,122","190,027","188,349","163,767","169,566"
29,NE,"136,000","138,374","141,446","151,176","147,140","140,541","151,343","158,852","177,862",...,"233,031","231,611","234,466","234,270","232,829","233,348","239,157","242,788","228,175","237,542"
30,NH,"83,382","88,309","94,812","98,991","97,142","96,289","108,409","112,063","116,297",...,"138,269","144,512","155,001","152,764","146,737","152,656","155,704","152,435","136,963","141,670"
31,NJ,"955,611","969,056","1,039,261","1,062,840","1,079,414","1,072,225","1,152,190","1,252,470","1,311,960",...,"884,720","878,077","856,154","877,467","888,468","858,632","888,315","842,885","686,425","750,887"
32,NM,"106,623","107,071","114,724","117,912","125,717","127,993","126,340","125,949","143,512",...,"233,394","232,460","240,408","237,701","235,515","249,356","257,803","262,605","237,384","262,264"
33,NV,"54,380","62,004","67,559","71,529","75,647","69,877","72,019","75,859","84,601",...,"261,495","268,244","275,622","266,639","289,383","306,479","308,260","306,466","245,204","284,865"
34,NY,"1,700,047","1,817,656","1,883,701","1,902,730","1,888,516","2,109,451","2,220,867","2,354,677","2,416,843",...,"1,341,448","1,330,482","1,382,080","1,383,266","1,382,206","1,378,849","1,423,244","1,386,269","1,066,114","1,209,837"
35,OH,"796,707","770,467","805,616","821,093","858,117","917,461","940,071","949,735","1,023,914",...,"1,045,080","1,053,987","1,062,667","1,081,188","1,082,887","1,073,983","1,089,761","1,070,162","982,394","1,029,340"
36,OK,"254,680","257,686","273,079","283,258","286,214","294,406","303,667","313,611","337,999",...,"522,769","506,028","535,307","521,667","520,186","544,537","541,278","524,240","474,552","519,226"
37,OR,"212,447","218,420","228,614","235,270","249,225","248,291","262,945","262,509","281,035",...,"323,741","322,313","325,766","323,140","327,835","335,127","339,590","334,509","300,473","322,320"
38,PA,"1,120,870","1,100,989","1,146,054","1,174,614","1,193,781","1,245,912","1,284,932","1,308,614","1,377,524",...,"1,157,559","1,181,000","1,207,164","1,187,148","1,138,129","1,151,732","1,170,049","1,134,520","949,953","1,035,606"
39,RI,"153,624","136,939","142,184","140,204","135,069","127,459","127,158","147,508","149,482",...,"78,856","82,166","86,353","86,112","74,342","75,184","82,615","77,313","68,314","76,590"
40,SC,"219,200","222,199","241,045","245,215","231,493","224,469","243,173","245,391","267,320",...,"468,285","480,197","479,576","511,425","522,302","524,166","526,034","515,839","465,872","509,517"
41,SD,"86,178","87,074","90,393","94,732","94,639","89,989","93,476","92,614","97,836",...,"116,746","112,656","114,520","115,692","113,289","112,658","115,313","116,179","119,687","119,919"
42,TN,"228,239","236,525","253,947","263,331","273,631","291,325","325,849","332,976","360,748",...,"646,741","655,891","672,629","687,482","702,677","694,516","700,650","713,625","657,467","715,602"
43,TX,"1,536,057","1,555,772","1,633,869","1,812,971","1,933,568","1,963,246","2,078,723","2,175,645","2,346,123",...,"5,504,726","5,828,991","5,803,534","6,022,376","6,175,136","6,286,229","6,720,839","6,850,186","6,187,966","6,802,215"
44,UT,"127,551","126,702","136,636","136,195","136,680","142,231","154,284","151,592","161,346",...,"269,396","271,571","274,435","276,308","285,349","294,385","310,060","305,584","285,122","302,537"
45,VA,"442,254","429,518","441,746","468,650","479,118","513,562","533,921","555,985","585,128",...,"796,113","793,774","830,111","834,674","844,901","847,776","869,728","872,814","739,500","789,358"
46,VT,"46,623","50,463","52,473","52,519","49,575","58,909","64,284","63,731","67,645",...,"75,387","78,655","79,824","81,888","77,727","77,379","75,792","77,367","70,379","72,373"
47,WA,"356,807","363,073","373,247","379,869","393,136","405,793","432,260","447,725","498,738",...,"697,816","698,425","681,853","732,667","800,690","769,685","775,777","794,537","621,358","712,349"
48,WI,"392,174","390,600","404,321","410,815","410,726","412,265","430,383","459,141","475,146",...,"501,822","510,487","543,179","534,079","524,098","523,110","548,839","547,523","493,092","533,212"
49,WV,"126,727","131,972","139,292","129,969","130,542","136,937","140,775","140,768","148,069",...,"194,403","195,225","193,011","189,690","199,199","191,481","216,968","208,371","179,259","205,121"
50,WY,"75,496","81,242","90,729","86,377","85,379","86,464","82,040","95,114","105,759",...,"172,121","161,686","171,012","158,389","152,624","153,755","159,048","155,232","138,481","146,812"

In [158]:
use_energy_source_petro_new = pd.melt(use_energy_source_petro, id_vars=['State'], var_name='Year', value_name='Petroleum_Energy_Value')

In [159]:
use_energy_source_petro_new

     State  Year Petroleum_Energy_Value
0       AK  1960                 45,410
1       AL  1960                236,010
2       AR  1960                148,055
3       AZ  1960                121,344
4       CA  1960              1,836,912
...    ...   ...                    ...
3157    VT  2021                 72,373
3158    WA  2021                712,349
3159    WI  2021                533,212
3160    WV  2021                205,121
3161    WY  2021                146,812

[3162 rows x 3 columns]

In [153]:
use_energy_source_renew = use_energy_source_renew.iloc[:-1, :]

In [154]:
use_energy_source_renew = use_energy_source_renew.dropna(axis=1, how='all')

In [155]:
use_energy_source_renew

,State,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AK,"6,800","7,313","7,453","7,793","8,102","8,519","8,328","8,457","8,486",...,"17,831","18,931","22,760","23,819","26,254","24,447","24,996","23,608","25,527","24,907"
1,AL,"112,809","118,021","125,564","112,682","137,992","121,888","121,238","144,384","129,673",...,"265,964","336,863","293,890","284,365","259,513","285,081","301,170","298,545","308,209","303,213"
2,AR,"48,104","51,144","47,637","41,897","42,732","46,425","51,697","46,124","64,986",...,"125,377","132,370","131,625","129,264","127,831","121,635","124,834","132,189","118,123","114,123"
3,AZ,"36,181","35,083","34,533","34,861","34,271","50,095","58,060","56,423","63,456",...,"114,315","119,753","139,836","149,031","162,028","172,736","179,533","174,570","177,618","197,117"
4,CA,"270,161","248,178","329,046","360,333","331,757","418,518","375,877","473,192","397,366",...,"818,490","897,358","903,692","911,138","1,116,287","1,314,777","1,213,958","1,373,488","1,244,897","1,334,148"
5,CO,"16,914","15,464","17,144","17,410","17,865","16,369","17,380","16,908","17,248",...,"108,351","122,946","131,177","133,682","158,875","162,034","165,952","178,021","194,190","216,066"
6,CT,"17,406","17,076","15,937","16,253","16,703","15,500","16,243","18,072","18,657",...,"38,975","42,952","45,472","46,764","47,868","46,758","49,572","48,862","46,777","51,792"
7,DC,155,163,166,148,138,120,111,112,120,...,"1,077","1,179","1,313","1,831","2,193","2,257","2,661","3,049","3,024","3,358"
8,DE,"4,982","5,101","5,134","5,356","5,510","5,577","5,852","5,783","6,594",...,"7,116","7,619","8,064","7,744","7,597","7,912","8,035","8,544","7,722","8,136"
9,FL,"35,680","34,417","35,826","38,613","39,016","39,916","42,760","44,550","49,556",...,"287,354","301,827","298,010","293,757","290,005","306,615","314,801","315,365","316,100","353,523"
10,GA,"96,016","94,590","96,771","103,171","118,296","108,022","109,456","109,475","106,371",...,"237,974","284,011","297,134","300,896","298,214","293,604","303,573","314,211","328,340","332,568"
11,HI,292,258,214,446,"1,429","1,265","1,309","1,389","1,657",...,"21,430","25,989","27,996","29,420","32,368","32,003","31,126","29,839","31,467","35,105"
12,IA,"15,884","15,713","15,580","13,403","12,798","15,160","14,994","14,243","16,244",...,"370,566","389,728","406,807","429,835","452,667","473,227","478,666","518,892","556,341","599,196"
13,ID,"77,688","70,403","73,984","73,227","76,892","79,778","81,379","82,252","80,804",...,"156,600","140,544","155,787","154,481","153,289","174,569","180,196","171,550","157,879","145,902"
14,IL,"33,020","32,237","32,864","34,418","34,491","35,036","37,080","37,444","40,029",...,"242,375","268,752","278,073","270,570","276,545","286,646","277,668","293,917","297,310","335,451"
15,IN,"24,556","24,199","24,089","24,007","23,168","23,060","24,315","27,363","28,677",...,"144,690","157,896","162,947","173,327","183,792","183,807","190,075","187,427","182,401","212,543"
16,KS,"4,123","3,855","3,670","3,798","3,674","3,499","3,529","3,349","3,459",...,"90,046","132,989","151,818","149,870","179,062","219,766","222,816","239,094","260,617","276,717"
17,KY,"50,751","48,648","51,423","47,591","47,022","47,438","49,311","61,073","53,358",...,"80,329","96,473","96,645","89,402","91,858","103,410","103,816","101,676","100,789","102,456"
18,LA,"38,992","37,174","36,785","39,147","39,291","38,299","39,754","37,685","40,791",...,"130,783","151,598","173,371","158,287","176,181","161,570","160,945","150,526","144,854","144,874"
19,MA,"53,354","52,769","53,590","52,762","54,148","55,636","58,117","58,183","62,101",...,"73,171","82,560","87,252","88,979","93,041","95,856","101,071","99,536","94,678","103,215"
20,MD,"38,447","35,723","36,002","35,457","37,440","39,019","42,103","49,500","47,752",...,"71,341","78,496","77,492","73,185","73,766","80,822","90,288","79,877","66,952","73,820"
21,ME,"59,784","56,575","55,672","58,874","55,936","51,675","55,812","58,337","59,840",...,"162,608","168,347","164,138","168,574","150,107","155,506","155,760","154,606","138,648","133,128"
22,MI,"59,100","55,209","53,745","51,374","52,769","55,858","56,828","56,539","56,320",...,"179,593","208,916","221,483","239,503","234,596","238,177","247,124","244,587","235,184","247,406"
23,MN,"34,957","32,478","34,382","32,328","33,210","34,786","35,031","32,385","33,828",...,"246,583","245,622","273,992","278,624","282,936","293,528","296,986","298,551","286,430","297,813"
24,MO,"41,442","45,068","40,239","33,299","31,229","35,404","33,010","31,558","39,086",...,"84,689","97,726","98,934","95,606","94,312","102,440","110,649","121,475","117,585","144,808"
25,MS,"46,565","45,532","44,673","39,154","38,448","37,759","37,816","34,261","35,452",...,"88,539","76,908","78,055","74,223","76,967","71,848","74,057","70,136","68,741","68,941"
26,MT,"69,936","76,550","74,894","70,429","79,375","95,505","90,332","98,163","100,651",...,"127,819","118,144","137,730","129,412","132,767","140,885","147,563","133,863","142,312","134,741"
27,NC,"127,507","120,692","127,402","116,481","131,745","123,608","114,335","118,616","117,146",...,"186,574","228,352","209,090","206,845","222,384","240,022","270,114","275,441","293,174","288,212"
28,ND,"11,880","15,420","14,054","15,915","20,014","26,438","20,421","29,255","26,339",...,"99,508","98,237","111,219","109,747","125,731","165,938","163,255","164,419","176,757","185,516"
29,NE,"13,425","12,832","12,973","13,199","12,801","13,563","13,955","13,879","14,714",...,"132,976","138,417","155,904","164,543","168,536","186,969","190,495","203,880","202,857","217,397"
30,NH,"25,629","23,327","25,119","24,450","23,707","22,019","24,343","24,089","25,155",...,"50,256","59,059","61,731","67,603","62,838","66,803","62,624","62,394","51,219","50,415"
31,NJ,"20,514","20,749","21,199","23,397","23,947","23,693","23,570","23,695","24,678",...,"76,886","86,152","91,005","81,586","85,369","83,836","84,239","84,994","80,762","85,852"
32,NM,"7,373","6,937","6,791","6,469","6,300","6,075","6,210","5,678","5,706",...,"45,164","46,411","48,148","48,909","64,769","78,080","95,244","105,040","106,513","138,630"
33,NV,"22,110","19,545","21,733","19,804","17,842","17,544","19,632","18,985","19,142",...,"63,674","74,096","76,197","85,212","99,674","109,544","117,235","125,022","125,514","139,948"
34,NY,"189,314","250,832","277,979","260,059","247,409","262,743","288,582","301,664","320,307",...,"399,747","418,075","437,667","448,392","454,021","490,642","489,219","498,124","468,231","473,907"
35,OH,"36,966","36,414","36,983","38,172","38,010","38,720","41,531","39,669","43,465",...,"143,509","160,117","163,389","157,489","159,177","156,232","158,726","160,334","151,400","165,301"
36,OK,"17,766","20,187","16,660","10,640","11,373","16,230","13,064","14,604","23,406",...,"135,556","178,059","177,919","203,058","260,290","290,968","324,177","347,056","337,045","367,146"
37,OR,"190,489","188,915","197,646","199,225","215,793","230,410","232,649","243,110","271,743",...,"507,768","472,016","495,029","451,541","482,943","516,930","502,494","445,620","473,155","449,244"
38,PA,"66,100","61,121","61,767","60,798","60,590","61,262","63,676","68,253","62,881",...,"203,830","235,207","232,509","235,433","230,921","240,496","251,952","234,570","217,902","223,410"
39,RI,"2,951","3,011","3,139","3,221","3,533","3,561","3,771","4,150","4,266",...,"6,003","6,106","7,902","8,469","8,267","9,567","10,045","11,832","13,926","14,546"
40,SC,"81,969","76,284","73,455","69,832","87,558","77,346","67,699","66,176","69,381",...,"138,964","156,589","158,548","151,230","150,318","152,847","165,199","166,366","173,989","170,674"
41,SD,"13,974","13,609","17,252","31,784","33,645","41,595","51,565","52,576","59,858",...,"140,762","128,968","140,135","138,038","149,018","148,279","158,194","169,269","171,078","205,338"
42,TN,"138,708","136,653","145,125","127,030","141,564","138,006","128,629","147,297","132,020",...,"181,037","226,381","194,804","196,878","170,822","182,761","199,132","191,569","211,994","198,765"
43,TX,"50,155","52,023","47,721","42,718","43,884","48,967","51,980","49,944","62,939",...,"533,395","584,228","634,054","672,832","820,815","915,338","1,009,917","1,071,087","1,149,538","1,293,066"
44,UT,"5,494","4,591","6,192","5,699","10,151","11,501","10,173","13,266","12,791",...,"28,026","25,011","29,679","33,778","47,601","64,181","61,286","60,089","61,965","67,954"
45,VA,"69,706","66,456","67,678","64,267","63,580","63,439","64,055","61,774","63,863",...,"134,372","152,518","167,411","169,053","167,391","167,010","183,826","169,910","170,439","189,262"
46,VT,"17,339","15,369","15,682","13,995","13,500","14,396","15,557","15,167","15,086",...,"28,836","36,145","35,555","41,531","38,701","40,945","44,258","43,772","39,823","40,260"
47,WA,"428,129","455,762","476,680","514,264","557,343","581,530","617,245","678,045","736,245",...,"1,036,980","942,926","957,292","891,733","948,976","967,707","955,305","797,587","884,394","850,547"
48,WI,"64,968","60,619","61,695","55,114","54,980","61,690","60,892","61,003","65,830",...,"178,205","188,808","195,664","200,490","200,299","198,839","203,443","202,897","183,061","178,716"
49,WV,"23,464","23,666","23,755","21,029","21,666","20,560","20,101","22,471","21,573",...,"51,398","61,073","57,169","44,994","47,885","49,947","53,573","49,681","48,020","48,756"
50,WY,"8,174","8,273","11,746","10,641","10,613","10,793","11,106","9,641","11,560",...,"55,484","54,820","56,015","52,372","58,491","59,425","54,920","57,094","68,407","91,943"

In [156]:
use_energy_source_renew_new = pd.melt(use_energy_source_renew, id_vars=['State'], var_name='Year', value_name='Renewable_Energy_Value')

In [157]:
use_energy_source_renew_new

     State  Year Renewable_Energy_Value
0       AK  1960                  6,800
1       AL  1960                112,809
2       AR  1960                 48,104
3       AZ  1960                 36,181
4       CA  1960                270,161
...    ...   ...                    ...
3157    VT  2021                 40,260
3158    WA  2021                850,547
3159    WI  2021                178,716
3160    WV  2021                 48,756
3161    WY  2021                 91,943

[3162 rows x 3 columns]

In [183]:
merged_energy = use_energy_source_coal_new.merge(use_energy_source_ng_new, on=['State', 'Year']).merge(use_energy_source_nuke_new, on=['State', 'Year']).merge(use_energy_source_petro_new, on=['State', 'Year']).merge(use_energy_source_renew_new, on=['State', 'Year'])

In [184]:
merged_energy.set_index('Year', inplace=True)

In [185]:
merged_energy

,State,Coal_Value,Natural_Gas_Value,Nuclear_Energy_Value,Petroleum_Energy_Value,Renewable_Energy_Value
Year,,,,,,
1960,AK,"7,189","2,034",0,"45,410","6,800"
1960,AL,"395,400","190,706",0,"236,010","112,809"
1960,AR,356,"222,202",0,"148,055","48,104"
1960,AZ,210,"140,275",0,"121,344","36,181"
1960,CA,"35,903","1,301,826",1,"1,836,912","270,161"
...,...,...,...,...,...,...
2021,VT,0,"13,801",0,"72,373","40,260"
2021,WA,"36,943","382,807","88,909","712,349","850,547"
2021,WI,"286,760","559,535","104,149","533,212","178,716"
2021,WV,"633,582","279,133",0,"205,121","48,756"
2021,WY,"376,971","161,354",0,"146,812","91,943"

In [186]:
merged_energy = merged_energy.reset_index()

merged_energy['Year'] = merged_energy['Year'].astype(int)
# Filter the DataFrame to keep only the rows with 'Year' in the range 1970-2021
merged_energy = merged_energy[(merged_energy['Year'] >= 1970) & (merged_energy['Year'] <= 2021)]

# Set 'Year' as the index again if needed
merged_energy = merged_energy.set_index('Year')

In [239]:
CO2Emissions_State_1970to2021_noheader_new.head(25)

     State CO2_Value
Year
1970   NaN      29.7
1970   NaN      37.3
1970   NaN      13.9
1970   NaN      18.7
1970   NaN      14.7
1970   NaN      19.4
1970   NaN      15.7
1970   NaN      29.2
1970   NaN      18.0
1970   NaN      15.2
1970   NaN      16.0
1970   NaN      18.0
1970   NaN      14.3
1970   NaN      22.2
1970   NaN      33.1
1970   NaN      18.9
1970   NaN      22.7
1970   NaN      26.7
1970   NaN      39.5
1970   NaN      16.9
1970   NaN      18.8
1970   NaN      17.5
1970   NaN      21.0
1970   NaN      18.2
1970   NaN      17.4

In [235]:
merged_energy.head(25)

,State,Coal_Value,Natural_Gas_Value,Nuclear_Energy_Value,Petroleum_Energy_Value,Renewable_Energy_Value
Year,,,,,,
1970,AK,"13,159","64,045",0,"95,999","8,835"
1970,AL,"675,603","307,750",0,"352,050","132,471"
1970,AR,0,"383,478",0,"246,630","56,933"
1970,AZ,"8,623","204,383",0,"213,298","68,919"
1970,CA,"61,812","2,241,295","34,375","2,502,535","521,978"
1970,CO,"115,688","274,987",0,"273,380","21,329"
1970,CT,"48,577","61,543","39,567","558,983","19,293"
1970,DC,"28,427","26,402",0,"129,410",113
1970,DE,"37,238","26,949",0,"153,982","7,021"
1970,FL,"116,720","350,626",0,"1,065,634","51,035"
1970,GA,"193,155","342,834",0,"553,586","98,222"
1970,HI,0,0,0,"195,388","1,559"
1970,IA,"130,867","351,800",0,"346,563","16,080"
1970,ID,"7,935","49,411",0,"105,159","85,735"
1970,IL,"920,303","1,203,225","27,600","1,487,160","41,064"
1970,IN,"1,006,824","548,640",0,"731,101","28,494"
1970,KS,"10,701","574,542",0,"302,912","3,730"
1970,KY,"527,054","252,265",0,"357,631","57,023"
1970,LA,0,"1,894,224",0,"900,341","41,620"
1970,MA,"21,393","149,074","13,272","1,240,487","65,043"
1970,MD,"311,292","159,584",0,"528,914","51,782"
1970,ME,"2,166","1,315",0,"230,972","59,420"
1970,MI,"828,881","821,261","4,113","955,898","54,309"
1970,MN,"179,727","343,007",0,"512,466","32,822"
1970,MO,"279,245","432,532",0,"571,688","33,344"

In [236]:
state_mapping = {
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DC': 'District of Columbia',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming'
}

In [252]:
# Apply the mapping to the 'State' column in CO2Emissions_State_1970to2021_noheader_new
merged_energy['State'] = merged_energy['State'].map(state_mapping)

In [253]:
merged_energy

,State,Coal_Value,Natural_Gas_Value,Nuclear_Energy_Value,Petroleum_Energy_Value,Renewable_Energy_Value
Year,,,,,,
1970,Alaska,"13,159","64,045",0,"95,999","8,835"
1970,Alabama,"675,603","307,750",0,"352,050","132,471"
1970,Arkansas,0,"383,478",0,"246,630","56,933"
1970,Arizona,"8,623","204,383",0,"213,298","68,919"
1970,California,"61,812","2,241,295","34,375","2,502,535","521,978"
...,...,...,...,...,...,...
2021,Vermont,0,"13,801",0,"72,373","40,260"
2021,Washington,"36,943","382,807","88,909","712,349","850,547"
2021,Wisconsin,"286,760","559,535","104,149","533,212","178,716"
2021,West Virginia,"633,582","279,133",0,"205,121","48,756"
2021,Wyoming,"376,971","161,354",0,"146,812","91,943"

In [256]:
CO2Emissions_State_1970to2021_noheader_new

              State CO2_Value
Year
1970        Alabama      29.7
1970         Alaska      37.3
1970        Arizona      13.9
1970       Arkansas      18.7
1970     California      14.7
...             ...       ...
2021       Virginia      11.3
2021     Washington       9.5
2021  West Virginia      49.5
2021      Wisconsin      15.7
2021        Wyoming      94.3

[2652 rows x 2 columns]

In [257]:
CO2Emissions_State_1970to2021_noheader_new_reset = CO2Emissions_State_1970to2021_noheader_new.reset_index()

In [258]:
CO2Emissions_State_1970to2021_noheader_new_reset

      Year          State CO2_Value
0     1970        Alabama      29.7
1     1970         Alaska      37.3
2     1970        Arizona      13.9
3     1970       Arkansas      18.7
4     1970     California      14.7
...    ...            ...       ...
2647  2021       Virginia      11.3
2648  2021     Washington       9.5
2649  2021  West Virginia      49.5
2650  2021      Wisconsin      15.7
2651  2021        Wyoming      94.3

[2652 rows x 3 columns]

In [259]:
merged_energy = merged_energy.reset_index()

In [260]:
merged_energy

,Year,State,Coal_Value,Natural_Gas_Value,Nuclear_Energy_Value,Petroleum_Energy_Value,Renewable_Energy_Value
0,1970,Alaska,"13,159","64,045",0,"95,999","8,835"
1,1970,Alabama,"675,603","307,750",0,"352,050","132,471"
2,1970,Arkansas,0,"383,478",0,"246,630","56,933"
3,1970,Arizona,"8,623","204,383",0,"213,298","68,919"
4,1970,California,"61,812","2,241,295","34,375","2,502,535","521,978"
...,...,...,...,...,...,...,...
2647,2021,Vermont,0,"13,801",0,"72,373","40,260"
2648,2021,Washington,"36,943","382,807","88,909","712,349","850,547"
2649,2021,Wisconsin,"286,760","559,535","104,149","533,212","178,716"
2650,2021,West Virginia,"633,582","279,133",0,"205,121","48,756"
2651,2021,Wyoming,"376,971","161,354",0,"146,812","91,943"

In [266]:
CO2Emissions_State_1970to2021_noheader_new_reset['Year'] = CO2Emissions_State_1970to2021_noheader_new_reset['Year'].astype(int)

In [267]:
CO2Emissions_State_1970to2021_noheader_new_reset.dtypes

(Year          int64
 State        object
 CO2_Value    object
 dtype: object,)

In [268]:
merged_result = CO2Emissions_State_1970to2021_noheader_new_reset.merge(merged_energy, on=['State', 'Year'])

In [269]:
merged_result

,Year,State,CO2_Value,Coal_Value,Natural_Gas_Value,Nuclear_Energy_Value,Petroleum_Energy_Value,Renewable_Energy_Value
0,1970,Alabama,29.7,"675,603","307,750",0,"352,050","132,471"
1,1970,Alaska,37.3,"13,159","64,045",0,"95,999","8,835"
2,1970,Arizona,13.9,"8,623","204,383",0,"213,298","68,919"
3,1970,Arkansas,18.7,0,"383,478",0,"246,630","56,933"
4,1970,California,14.7,"61,812","2,241,295","34,375","2,502,535","521,978"
...,...,...,...,...,...,...,...,...
2647,2021,Virginia,11.3,"68,603","699,927","298,458","789,358","189,262"
2648,2021,Washington,9.5,"36,943","382,807","88,909","712,349","850,547"
2649,2021,West Virginia,49.5,"633,582","279,133",0,"205,121","48,756"
2650,2021,Wisconsin,15.7,"286,760","559,535","104,149","533,212","178,716"
2651,2021,Wyoming,94.3,"376,971","161,354",0,"146,812","91,943"

In [270]:
merged_result.set_index('Year',inplace=True)

In [271]:
merged_result

,State,CO2_Value,Coal_Value,Natural_Gas_Value,Nuclear_Energy_Value,Petroleum_Energy_Value,Renewable_Energy_Value
Year,,,,,,,
1970,Alabama,29.7,"675,603","307,750",0,"352,050","132,471"
1970,Alaska,37.3,"13,159","64,045",0,"95,999","8,835"
1970,Arizona,13.9,"8,623","204,383",0,"213,298","68,919"
1970,Arkansas,18.7,0,"383,478",0,"246,630","56,933"
1970,California,14.7,"61,812","2,241,295","34,375","2,502,535","521,978"
...,...,...,...,...,...,...,...
2021,Virginia,11.3,"68,603","699,927","298,458","789,358","189,262"
2021,Washington,9.5,"36,943","382,807","88,909","712,349","850,547"
2021,West Virginia,49.5,"633,582","279,133",0,"205,121","48,756"
2021,Wisconsin,15.7,"286,760","559,535","104,149","533,212","178,716"
2021,Wyoming,94.3,"376,971","161,354",0,"146,812","91,943"

In [272]:
merged_result.to_csv('../data/Energy_CO2_2017to2021.csv', index=False)